[2019-02-12 10:38] ammaratef45 opened #1 "test rultor"
@rultor hello

[2019-02-12 10:39] rultor commented on #1
@ammaratef45 Hi there! I understand a few simple commands: "merge", "deploy", etc. [This page](http://doc.rultor.com/basics.html) explains them briefly. Any questions or bug reports are [welcome](https://github.com/yegor256/rultor/issues). Have fun :)

[2019-02-12 12:44] 0pdd opened #3 "Add unit test for this class. Should find a way to mock wallets first. If not should search for..."
The puzzle `1-029242cd` from #1 has to be resolved:

https://github.com/ammaratef45/zold-flutter-client/blob/60a0e180c7ee754e531894e5ce098bb00e470d82/zold_wallet/lib/backend/API.dart#L5-L7

The puzzle was created by @ammaratef45 on 12-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzl

[2019-02-12 12:44] 0pdd commented on #3
I can't create GitHub labels `pdd`. Most likely I don't have necessary permissions to `ammaratef45/zold-flutter-client` repository. Please, make sure @0pdd user is in the [list of collaborators](https://github.com/ammaratef45/zold-flutter-client/settings/collaboration):

[code]

[2019-02-12 12:44] 0pdd commented on #1
@ammaratef45 the puzzle [#3](https://github.com/ammaratef45/zold-flutter-client/issues/3) is still not solved.

[2019-02-12 12:45] #1 closed

[2019-02-13 06:58] ammaratef45 opened #4 "try circleCI"
pull request must work

[2019-02-13 09:22] #4 closed

[2019-02-13 13:38] #3 closed

[2019-02-13 13:38] 0pdd commented on #3
The puzzle `1-029242cd` has disappeared from the source code, that's why I closed this issue.

[2019-02-13 13:38] 0pdd commented on #1
@ammaratef45 the only puzzle [#3](https://github.com/ammaratef45/zold-flutter-client/issues/3) is solved here.

[2019-02-23 15:05] amorenew opened #7 "installation steps"
How could I install the app on windows?
I got an error
The current Dart SDK version is 2.1.0-dev.9.4.flutter-f9ebf21297.

Because zold_wallet requires SDK version >=2.1.0 <3.0.0, version solving failed.

it got solved by the following commans
[code]

[2019-02-23 15:05] #7 closed

[2019-02-23 15:47] ammaratef45 commented on #7
@amorenew Thanks

[2019-02-24 10:25] ammaratef45 opened #8 "try deploy"

[2019-02-24 10:26] ammaratef45 commented on #8
@rultor reploy

[2019-02-24 10:27] rultor commented on #8
@ammaratef45 I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2019-02-24 10:28] ammaratef45 commented on #8
@rultor deploy

[2019-02-24 10:28] rultor commented on #8
@ammaratef45 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/18005-466760726)

[2019-02-24 10:35] rultor commented on #8
@ammaratef45 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18005-466760726) (spent 7min)

[code]

[2019-02-24 10:55] ammaratef45 commented on #8
@rultor deploy

[2019-02-24 10:56] rultor commented on #8
@ammaratef45 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/18005-466763132)

[2019-02-24 10:58] rultor commented on #8
@ammaratef45 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18005-466763132) (spent 2min)

[code]

[2019-02-24 11:04] ammaratef45 commented on #8
@rultor deploy

[2019-02-24 11:05] rultor commented on #8
@ammaratef45 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/18005-466763781)

[2019-02-24 11:06] rultor commented on #8
@ammaratef45 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18005-466763781) (spent 22s)

[code]

[2019-02-24 11:07] ammaratef45 commented on #8
@rultor deploy

[2019-02-24 11:08] rultor commented on #8
@ammaratef45 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/18005-466763957)

[2019-02-24 11:15] rultor commented on #8
@ammaratef45 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18005-466763957) (spent 7min)

[code]

[2019-02-24 11:26] ammaratef45 commented on #8
@rultor deploy

[2019-02-24 11:27] rultor commented on #8
@ammaratef45 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/18005-466765244)

[2019-02-24 11:30] rultor commented on #8
@ammaratef45 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18005-466765244) (spent 3min)

[code]

[2019-02-24 15:23] ammaratef45 commented on #8
@rultor reploy

[2019-02-24 15:23] ammaratef45 commented on #8
@rultor deploy

[2019-02-24 15:24] rultor commented on #8
@ammaratef45 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/18005-466786257)

[2019-02-24 15:36] rultor commented on #8
@ammaratef45 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18005-466786257) (spent 12min)

[code]

[2019-02-24 15:39] ammaratef45 commented on #8
@rultor deploy

[2019-02-24 15:40] rultor commented on #8
@ammaratef45 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/18005-466787625)

[2019-02-24 15:52] rultor commented on #8
@ammaratef45 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18005-466787625) (spent 12min)

[code]

[2019-02-24 15:53] ammaratef45 commented on #8
@rultor deploy

[2019-02-24 15:55] rultor commented on #8
@ammaratef45 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/18005-466788811)

[2019-02-24 15:56] rultor commented on #8
@ammaratef45 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18005-466788811) (spent 2min)

[code]

[2019-02-24 15:57] ammaratef45 commented on #8
@rultor deploy

[2019-02-24 15:59] rultor commented on #8
@ammaratef45 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/18005-466789142)

[2019-02-24 16:01] rultor commented on #8
@ammaratef45 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18005-466789142) (spent 2min)

[code]

[2019-02-24 16:03] ammaratef45 commented on #8
@rultor deploy

[2019-02-24 16:04] rultor commented on #8
@ammaratef45 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/18005-466789664)

[2019-02-24 16:06] rultor commented on #8
@ammaratef45 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18005-466789664) (spent 2min)

[code]

[2019-02-24 16:19] ammaratef45 commented on #8
@rultor deploy

[2019-02-24 16:20] rultor commented on #8
@ammaratef45 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/18005-466790990)

[2019-02-24 16:32] rultor commented on #8
@ammaratef45 Done! FYI, the full log is [here](http://www.rultor.com/t/18005-466790990) (took me 12min)

[2019-02-24 16:37] #8 closed

[2019-02-24 16:43] ammaratef45 opened #10 "Deployment of iOS"
Need help with the deploying iOS apps with rultor (or any alternatives)
This is supposed to be done using fastlane

[2019-02-24 16:44] ammaratef45 opened #11 "Need High-res icon and cover Image"
Needed 512x512 image as a profile image of the store app
Also 1024x500 image as a cover image

[2019-02-24 17:05] amorenew commented on #10
@ammaratef45 Zold Logo SVG
http://www.zold.io/images/logo.svg
![logo512](https://user-images.githubusercontent.com/2842459/53302484-ea9e0900-3877-11e9-99ed-d0a10fa00384.png)
![logo1024](https://user-images.githubusercontent.com/2842459/53302485-ea9e0900-3877-11e9-824f-cd1b058f997f.png)

[2019-02-24 17:06] amorenew commented on #11
@ammaratef45 Zold Logo SVG
http://www.zold.io/images/logo.svg
![logo512](https://user-images.githubusercontent.com/2842459/53302484-ea9e0900-3877-11e9-99ed-d0a10fa00384.png)
![logo1024](https://user-images.githubusercontent.com/2842459/53302485-ea9e0900-3877-11e9-824f-cd1b058f997f.png)

[2019-02-24 17:09] ammaratef45 commented on #11
@amorenew Can you adjust the second one dimensions? It should be 1024x500

[2019-02-24 19:07] g4s8 opened #12 "Application crashes on start"
Can't start - getting crash on start:
[code]
device: nexus-5 android-6.0.1

[2019-02-25 05:28] amrboxit4me commented on #11
@ammaratef45
Same like website blue #205995
https://www.zold.io/images/logo-blue.svg
![untitled-1](https://user-images.githubusercontent.com/41638061/53316026-9fb7dc00-38df-11e9-972a-e302114c18e4.png)

[2019-02-25 05:59] ammaratef45 commented on #12
@rultor deploy

[2019-02-25 06:00] rultor commented on #12
@ammaratef45 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/18014-466882139)

[2019-02-25 06:07] ammaratef45 commented on #12
@rultor stop

[2019-02-25 06:08] rultor commented on #12
@ammaratef45 OK, I'll try to stop current task.

[2019-02-25 06:08] rultor commented on #12
@ammaratef45 @g4s8 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18014-466883665) (spent 8min)

[code]

[2019-02-25 06:09] ammaratef45 commented on #12
@rultor deploy

[2019-02-25 06:09] ammaratef45 commented on #11
@amorenew Thank you :+1:

[2019-02-25 06:09] #11 closed

[2019-02-25 06:11] rultor commented on #12
@ammaratef45 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/18014-466884080)

[2019-02-25 06:12] ammaratef45 opened #13 "Add a privacy policy"
Later google play may unpublish the app if we didn't add a privacy policy
We need to add one, Probably as an markdown file `policy.md`

[2019-02-25 06:23] rultor commented on #12
@ammaratef45 Done! FYI, the full log is [here](http://www.rultor.com/t/18014-466884080) (took me 12min)

[2019-02-25 06:43] amrboxit4me commented on #13
I never faced this issue before for Android Playstore
I think for low installs apps policy is not important
But for sure Apple Appstore will make a problem

[2019-02-25 06:46] ammaratef45 commented on #13
@amrboxit4me It's not an urgent issue, but later it would be a problem

[2019-02-25 07:02] ammaratef45 commented on #12
@g4s8 is it okay now?

[2019-02-25 09:27] g4s8 commented on #12
@ammaratef45 yes, thanks

[2019-02-25 09:27] #12 closed

[2019-02-25 12:46] ammaratef45 opened #14 "Show wallet details"
Show the wallet details (ID and balance) in the main screen after zold-io/wts.zold.io#155 issue is solved.

[2019-03-03 00:56] ammaratef45 opened #15 "version increment"
needs to configure Fastlane for automatic version increment to avoid deployment errors

[2019-03-07 13:23] #10 closed

[2019-03-07 13:23] ammaratef45 commented on #14
@rultor deploy

[2019-03-07 13:26] rultor commented on #14
@ammaratef45 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/18169-470523377)

[2019-03-07 13:39] rultor commented on #14
@ammaratef45 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18169-470523377) (spent 13min)

[code]

[2019-03-07 19:15] #14 closed

[2019-03-07 19:16] ammaratef45 opened #16 "Update readme"
Readme file is not good at all now,
update it to show more details.

[2019-03-07 19:18] ammaratef45 opened #17 "Show jobs status"
wts returns a job id which log can be retrieved using /output endpoint
Use it and add a button for the user to see the log.

[2019-03-07 19:19] ammaratef45 opened #18 "Add QR payment"
Let the user be able to make a payment by scanning a QR or generating a QR to receive payments.

[2019-03-07 19:22] yegor256 commented on #17
I think that the entire screen should dim when I start ANY job, and should show me the progress. Then, when it's complete, it shows me the result, like "OK" or "sorry, failure, here is a full log" and then I have access to the screen again. I would do it this way.

[2019-03-08 19:26] ammaratef45 opened #19 "Add a bug reporter"
Add crashlytics or similar thing to the project so that bugs and crashed can be caught.

[2019-03-12 07:29] ammaratef45 opened #20 "Prevent rooted devices"
For security reasons, prevent the app from running on rooted devices or simulators.
Or at least warn the user.

[2019-03-12 07:31] ammaratef45 opened #21 "Encrypt shared preferences"
API Key is saved in shared preferences which may be accessed by hackers on rooted phones (as in #20 we want to prevent rooted devices anyway)
Currently, find a secure way to encrypt the key.

[2019-03-14 11:50] 0crat commented on #18
Job [#18](https://github.com/ammaratef45/zold-flutter-client/issues/18) is now in scope, role is `DEV`

[2019-03-14 11:54] 0crat commented on #18
Job `gh:ammaratef45/zold-flutter-client#18` already assigned to @ammaratef45, can't assign to @ammaratef45

[2019-03-14 11:54] 0crat commented on #18
The job [#18](https://github.com/ammaratef45/zold-flutter-client/issues/18) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/42d96933-fc5d-46b5-a3ea-b2c774a35c42); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-03-14 11:57] 0crat commented on #18
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-14 11:57] 0crat commented on #18
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-14 11:57] 0crat commented on #18
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-14 12:31] 0pdd opened #24 "add ability to scan details from QR."
The puzzle `18-7ef2e369` from #18 has to be resolved:

https://github.com/ammaratef45/zold-flutter-client/blob/a934089ac0b958110115776e045e78e76fdad42b/zold_wallet/lib/pay_page/pay_page_viewmodel.dart#L29-L29

The puzzle was created by @rultor on 14-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the te

[2019-03-14 12:31] 0pdd opened #25 "add share methods to native code."
The puzzle `18-5d314318` from #18 has to be resolved:

https://github.com/ammaratef45/zold-flutter-client/blob/a934089ac0b958110115776e045e78e76fdad42b/zold_wallet/lib/create_page/create_page_viewmodel.dart#L45-L45

The puzzle was created by @rultor on 14-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and

[2019-03-14 12:31] 0pdd commented on #18
@ammaratef45 2 puzzles [#24](https://github.com/ammaratef45/zold-flutter-client/issues/24), [#25](https://github.com/ammaratef45/zold-flutter-client/issues/25) are still not solved.

[2019-03-14 12:31] #18 closed

[2019-03-14 12:32] 0crat commented on #25
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-03-14 12:35] #17 closed

[2019-03-14 12:44] 0crat commented on #24
Job [#24](https://github.com/ammaratef45/zold-flutter-client/issues/24) is now in scope, role is `DEV`

[2019-03-14 12:44] 0crat commented on #25
Job [#25](https://github.com/ammaratef45/zold-flutter-client/issues/25) is now in scope, role is `DEV`

[2019-03-14 12:46] 0crat commented on #19
Job [#19](https://github.com/ammaratef45/zold-flutter-client/issues/19) is now in scope, role is `DEV`

[2019-03-14 12:52] 0crat commented on #21
Job [#21](https://github.com/ammaratef45/zold-flutter-client/issues/21) is now in scope, role is `DEV`

[2019-03-14 12:52] 0crat commented on #20
Job [#20](https://github.com/ammaratef45/zold-flutter-client/issues/20) is now in scope, role is `DEV`

[2019-03-14 12:52] 0crat commented on #19
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#19](https://github.com/ammaratef45/zold-flutter-client/issues/19); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job

[2019-03-14 12:52] 0crat commented on #16
Job [#16](https://github.com/ammaratef45/zold-flutter-client/issues/16) is now in scope, role is `DEV`

[2019-03-14 12:52] 0crat commented on #15
Job [#15](https://github.com/ammaratef45/zold-flutter-client/issues/15) is now in scope, role is `DEV`

[2019-03-14 12:52] 0crat commented on #13
Job [#13](https://github.com/ammaratef45/zold-flutter-client/issues/13) is now in scope, role is `DEV`

[2019-03-14 12:57] 0crat commented on #17
Job `gh:ammaratef45/zold-flutter-client#17` is not assigned, can't get performer

[2019-03-14 12:59] 0crat commented on #17
This job is not in scope

[2019-03-14 12:59] 0crat commented on #19
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-14 13:00] 0crat commented on #21
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-14 13:00] 0crat commented on #13
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-14 13:00] 0crat commented on #15
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-14 13:00] 0crat commented on #16
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-14 13:01] 0crat commented on #20
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-14 13:43] 0crat commented on #20
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#20](https://github.com/ammaratef45/zold-flutter-client/issues/20); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job

[2019-03-14 13:43] 0crat commented on #15
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#15](https://github.com/ammaratef45/zold-flutter-client/issues/15); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job

[2019-03-14 13:44] 0crat commented on #13
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#13](https://github.com/ammaratef45/zold-flutter-client/issues/13); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job

[2019-03-14 13:44] 0crat commented on #21
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#21](https://github.com/ammaratef45/zold-flutter-client/issues/21); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job

[2019-03-14 13:44] 0crat commented on #16
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#16](https://github.com/ammaratef45/zold-flutter-client/issues/16); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job

[2019-03-16 22:54] ammaratef45 commented on #18
@rultor deploy

[2019-03-16 22:55] rultor commented on #18
@ammaratef45 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/18318-473599262)

[2019-03-16 23:07] rultor commented on #18
@ammaratef45 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18318-473599262) (spent 12min)

[code]

[2019-03-17 05:53] ammaratef45 commented on #18
@0crat status

[2019-03-17 05:54] 0crat commented on #18
@ammaratef45 This is what I know about this job in [CGC59KB9B](https://www.0crat.com/p/CGC59KB9B), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#18](https://github.com/ammaratef45/zold-flutter-client/issues/18) is [in scope](http://www.zerocracy.com/policy.html#14) for 3days
  * The role is `DEV`
  * The job is assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45

[2019-03-17 06:06] ammaratef45 commented on #18
@0crat out

[2019-03-17 06:13] 0crat commented on #18
@ammaratef45 The job [#18](https://github.com/ammaratef45/zold-flutter-client/issues/18) is now out of scope

[2019-03-17 06:14] 0crat commented on #18
Order was finished: +30 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-17 10:34] #16 closed

[2019-03-17 10:51] 0crat commented on #16
Job `gh:ammaratef45/zold-flutter-client#16` is not assigned, can't get performer

[2019-03-17 10:51] 0crat commented on #16
The job [#16](https://github.com/ammaratef45/zold-flutter-client/issues/16) is now out of scope

[2019-03-17 12:16] yegor256 opened #26 "just a spinner is not enough"
When you are doing "pull" or some other operation, you are showing a simple spinner. Since the operation takes longer than a few seconds, such a simple UI is not enough. Instead, I would suggest to show a spinner and a number, which will show the amount of bytes in the job "output". This number will grow when the job is working. We can add a simple end-point in WTS, like `/output/size` to make it

[2019-03-17 12:16] 0crat commented on #26
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-03-17 12:16] 0crat commented on #26
@yegor256[/z](https://www.0crat.com/u/yegor256) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CGC59KB9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-17 12:17] yegor256 opened #27 "empty wallet must say "wallet is empty""
At the moment my mobile wallet is empty and I don't see any transactions. I should see something like "Your wallet is empty, there are no transactions as of yet".

[2019-03-17 12:17] 0crat commented on #27
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-03-17 12:17] 0crat commented on #27
@yegor256[/z](https://www.0crat.com/u/yegor256) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CGC59KB9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-17 12:17] yegor256 opened #28 "Refresh is not the right name, call it Pull"
It says "refresh". Instead, it should be "pull". Please, rename.

[2019-03-17 12:18] 0crat commented on #28
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-03-17 12:18] 0crat commented on #28
@yegor256[/z](https://www.0crat.com/u/yegor256) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CGC59KB9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-17 12:18] 0crat commented on #26
Job [#26](https://github.com/ammaratef45/zold-flutter-client/issues/26) is now in scope, role is `DEV`

[2019-03-17 12:18] ammaratef45 commented on #26
@yegor256 Can you add a number that represents the average size of output? that may be good too.

[2019-03-17 12:20] yegor256 opened #29 ""Copy wallet ID" is missing"
At the moment on the front/home page, I don't see a button to copy the wallet ID in the clipboard. Would be convenient if I would be able to click a small icon and copy the ID.

[2019-03-17 12:20] 0crat commented on #29
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-03-17 12:20] 0crat commented on #29
@yegor256[/z](https://www.0crat.com/u/yegor256) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CGC59KB9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-17 12:21] ammaratef45 commented on #27
@yegor256, for now, we are not displaying the transactions, we should take care of this when adding it.

[2019-03-17 12:22] yegor256 commented on #26
@ammaratef45 make a ticket in WTS

[2019-03-17 12:25] 0crat commented on #26
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-03-17 12:25] 0crat commented on #27
Job [#27](https://github.com/ammaratef45/zold-flutter-client/issues/27) is now in scope, role is `DEV`

[2019-03-17 12:25] 0crat commented on #29
Job [#29](https://github.com/ammaratef45/zold-flutter-client/issues/29) is now in scope, role is `DEV`

[2019-03-17 12:25] 0crat commented on #28
Job [#28](https://github.com/ammaratef45/zold-flutter-client/issues/28) is now in scope, role is `DEV`

[2019-03-17 12:31] 0crat commented on #27
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-03-17 12:31] 0crat commented on #28
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-03-17 12:31] 0crat commented on #29
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-03-17 12:56] ammaratef45 opened #30 "Add copy to the full log"
To facilitate reporting bugs, add copy to the full log dialog

[2019-03-17 12:57] 0crat commented on #30
Job [#30](https://github.com/ammaratef45/zold-flutter-client/issues/30) is now in scope, role is `DEV`

[2019-03-17 12:59] ammaratef45 opened #31 "Move redundant dialogs"
Error dialogs and waiting dialogs are redundant in more than one page, should be moved to a reusable module

[2019-03-17 13:04] 0crat commented on #31
Job [#31](https://github.com/ammaratef45/zold-flutter-client/issues/31) is now in scope, role is `DEV`

[2019-03-17 13:04] 0crat commented on #30
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-17 13:10] 0crat commented on #31
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-17 13:19] ammaratef45 commented on #26
@yegor256 I added zold-io/wts.zold.io#190

[2019-03-17 13:35] 0crat commented on #28
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-03-17 13:35] 0crat commented on #28
@yegor256[/z](https://www.0crat.com/u/yegor256) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CGC59KB9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-17 13:35] #28 closed

[2019-03-17 13:35] #29 closed

[2019-03-17 13:35] #30 closed

[2019-03-17 13:41] 0crat commented on #30
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#30](https://github.com/ammaratef45/zold-flutter-client/issues/30); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job

[2019-03-17 13:43] 0crat commented on #31
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#31](https://github.com/ammaratef45/zold-flutter-client/issues/31); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job

[2019-03-17 13:51] 0crat commented on #28
Job `gh:ammaratef45/zold-flutter-client#28` is not assigned, can't get performer

[2019-03-17 13:51] 0crat commented on #29
Job `gh:ammaratef45/zold-flutter-client#29` is not assigned, can't get performer

[2019-03-17 13:51] 0crat commented on #30
Job `gh:ammaratef45/zold-flutter-client#30` is not assigned, can't get performer

[2019-03-17 13:51] 0crat commented on #28
The job [#28](https://github.com/ammaratef45/zold-flutter-client/issues/28) is now out of scope

[2019-03-17 13:51] 0crat commented on #30
The job [#30](https://github.com/ammaratef45/zold-flutter-client/issues/30) is now out of scope

[2019-03-17 13:53] 0crat commented on #29
The job [#29](https://github.com/ammaratef45/zold-flutter-client/issues/29) is now out of scope

[2019-03-18 07:01] 0pdd opened #34 "remove this function and make sure not to lose any functionality"
The puzzle `31-0d7dcb0d` from #31 has to be resolved:

https://github.com/ammaratef45/zold-flutter-client/blob/1d27fd8dec8cc160ca7dfa4233083814e81d63a9/zold_wallet/lib/login_page/login_page_view_model.dart#L36-L36

The puzzle was created by Ammar Atef on 18-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed an

[2019-03-18 07:01] 0pdd commented on #31
@ammaratef45 the puzzle [#34](https://github.com/ammaratef45/zold-flutter-client/issues/34) is still not solved.

[2019-03-18 07:02] 0crat commented on #34
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-03-18 07:09] #31 closed

[2019-03-18 07:16] 0crat commented on #34
Job [#34](https://github.com/ammaratef45/zold-flutter-client/issues/34) is now in scope, role is `DEV`

[2019-03-18 07:27] 0crat commented on #31
Job `gh:ammaratef45/zold-flutter-client#31` is not assigned, can't get performer

[2019-03-18 07:27] 0crat commented on #31
The job [#31](https://github.com/ammaratef45/zold-flutter-client/issues/31) is now out of scope

[2019-03-18 07:43] ammaratef45 opened #35 "Replace all relative import"
Use `import package:x` instead of the relative path

[2019-03-18 08:13] 0crat commented on #35
Job [#35](https://github.com/ammaratef45/zold-flutter-client/issues/35) is now in scope, role is `DEV`

[2019-03-18 08:19] 0crat commented on #35
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-18 08:40] 0crat commented on #35
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#35](https://github.com/ammaratef45/zold-flutter-client/issues/35); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job

[2019-03-18 10:15] #25 closed

[2019-03-18 10:15] 0pdd commented on #25
The puzzle `18-5d314318` has disappeared from the source code, that's why I closed this issue.

[2019-03-18 10:15] 0pdd commented on #18
@ammaratef45 the puzzle [#24](https://github.com/ammaratef45/zold-flutter-client/issues/24) is still not solved; solved: [#25](https://github.com/ammaratef45/zold-flutter-client/issues/25).

[2019-03-18 10:34] 0crat commented on #25
Job `gh:ammaratef45/zold-flutter-client#25` is not assigned, can't get performer

[2019-03-18 10:35] 0crat commented on #25
The job [#25](https://github.com/ammaratef45/zold-flutter-client/issues/25) is now out of scope

[2019-03-19 13:39] 0crat commented on #19
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#19](https://github.com/ammaratef45/zold-flutter-client/issues/19); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job

[2019-03-19 14:40] 0crat commented on #20
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#20](https://github.com/ammaratef45/zold-flutter-client/issues/20); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job

[2019-03-19 14:40] 0crat commented on #15
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#15](https://github.com/ammaratef45/zold-flutter-client/issues/15); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job

[2019-03-19 14:42] 0crat commented on #13
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#13](https://github.com/ammaratef45/zold-flutter-client/issues/13); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job

[2019-03-19 14:43] 0crat commented on #21
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#21](https://github.com/ammaratef45/zold-flutter-client/issues/21); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job

[2019-03-20 20:00] ammaratef45 opened #37 "Show calls response if not success"
When calls like `pay` and `pull` return success we wait, but we should show the stack trace of failure if not.

[2019-03-20 20:03] 0crat commented on #37
Job [#37](https://github.com/ammaratef45/zold-flutter-client/issues/37) is now in scope, role is `DEV`

[2019-03-20 20:10] 0crat commented on #37
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-20 20:23] #24 closed

[2019-03-20 20:23] 0pdd commented on #24
The puzzle `18-7ef2e369` has disappeared from the source code, that's why I closed this issue.

[2019-03-20 20:23] 0pdd commented on #18
@ammaratef45 all 2 puzzles are solved here: [#24](https://github.com/ammaratef45/zold-flutter-client/issues/24), [#25](https://github.com/ammaratef45/zold-flutter-client/issues/25).

[2019-03-20 20:34] ammaratef45 commented on #13
@amrboxit4me last time I was trying to deploy I got this

Look? 😆

[2019-03-20 20:42] 0crat commented on #24
Job `gh:ammaratef45/zold-flutter-client#24` is not assigned, can't get performer

[2019-03-20 20:43] 0crat commented on #37
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#37](https://github.com/ammaratef45/zold-flutter-client/issues/37); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job

[2019-03-20 20:44] 0crat commented on #24
The job [#24](https://github.com/ammaratef45/zold-flutter-client/issues/24) is now out of scope

[2019-03-21 13:13] 0crat commented on #26
The job [#26](https://github.com/ammaratef45/zold-flutter-client/issues/26) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/c26c3b00-ccef-4cf8-9a86-d6d33d776230); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-03-21 13:18] 0crat commented on #27
The job [#27](https://github.com/ammaratef45/zold-flutter-client/issues/27) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/98f07775-573b-4de1-999c-703b004d76c0); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-03-21 13:28] 0crat commented on #34
The job [#34](https://github.com/ammaratef45/zold-flutter-client/issues/34) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/0223a321-b9b4-4895-89ee-cd950a9e3000); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-03-21 18:34] amorenew opened #38 "UI Suggestion"
I have a UI suggestion for the app as you can see in the image below.

![crypto_wallet_app](https://user-images.githubusercontent.com/2842459/54776377-6e55d600-4c29-11e9-9b9c-b9287ad78b7b.jpg)

[2019-03-21 18:34] 0crat commented on #38
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-03-21 18:34] 0crat commented on #38
@amorenew[/z](https://www.0crat.com/u/amorenew) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CGC59KB9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-21 18:39] ammaratef45 commented on #38
@amorenew the right image looks good as structure
@yegor256 what do you think?

[2019-03-23 08:14] 0pdd opened #39 "get job id not a log from the callback. make the waiting loop here and get job file to show."
The puzzle `26-5375c740` from #26 has to be resolved:

https://github.com/ammaratef45/zold-flutter-client/blob/f33dba903832ef3eea5309d8d1833c7caee68121/zold_wallet/lib/dialogs.dart#L22-L23

The puzzle was created by Ammar Atef on 23-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle

[2019-03-23 08:14] 0pdd commented on #26
@yegor256 the puzzle [#39](https://github.com/ammaratef45/zold-flutter-client/issues/39) is still not solved.

[2019-03-23 08:14] 0crat commented on #39
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-03-23 08:14] #26 closed

[2019-03-23 08:21] 0crat commented on #39
Job [#39](https://github.com/ammaratef45/zold-flutter-client/issues/39) is now in scope, role is `DEV`

[2019-03-23 08:31] 0crat commented on #26
Job was finished in 43 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-03-23 08:37] 0crat commented on #26
The job [#26](https://github.com/ammaratef45/zold-flutter-client/issues/26) is now out of scope

[2019-03-23 08:41] 0crat commented on #26
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-23 08:45] ammaratef45 opened #40 "Add ability to login with api key"
Let users log in if they provide their apikey without sending them message.

[2019-03-23 08:46] 0crat commented on #40
Job [#40](https://github.com/ammaratef45/zold-flutter-client/issues/40) is now in scope, role is `DEV`

[2019-03-23 08:53] 0crat commented on #40
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-23 08:59] 0pdd opened #41 "show empty wallet if wallet has no transactions"
The puzzle `27-6029f715` from #27 has to be resolved:

https://github.com/ammaratef45/zold-flutter-client/blob/0e88a41ea71fb23cfef893a48876eec75caef41c/zold_wallet/lib/home_page/home_page_view.dart#L60-L60

The puzzle was created by Ammar Atef on 23-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the te

[2019-03-23 08:59] 0pdd opened #42 "sort desc, add more info and show better design"
The puzzle `27-82704f59` from #27 has to be resolved:

https://github.com/ammaratef45/zold-flutter-client/blob/0e88a41ea71fb23cfef893a48876eec75caef41c/zold_wallet/lib/home_page/home_page_view.dart#L62-L62

The puzzle was created by Ammar Atef on 23-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the te

[2019-03-23 08:59] 0pdd opened #43 "save transactions in the wallet and load it like balance"
The puzzle `27-6c2519ea` from #27 has to be resolved:

https://github.com/ammaratef45/zold-flutter-client/blob/0e88a41ea71fb23cfef893a48876eec75caef41c/zold_wallet/lib/home_page/home_page_view_model.dart#L36-L36

The puzzle was created by Ammar Atef on 23-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and

[2019-03-23 08:59] 0pdd commented on #27
@yegor256 3 puzzles [#41](https://github.com/ammaratef45/zold-flutter-client/issues/41), [#42](https://github.com/ammaratef45/zold-flutter-client/issues/42), [#43](https://github.com/ammaratef45/zold-flutter-client/issues/43) are still not solved.

[2019-03-23 08:59] #27 closed

[2019-03-23 09:00] 0crat commented on #41
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-03-23 09:00] 0crat commented on #43
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-03-23 09:01] 0crat commented on #42
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-03-23 09:17] 0crat commented on #43
Job [#43](https://github.com/ammaratef45/zold-flutter-client/issues/43) is now in scope, role is `DEV`

[2019-03-23 09:18] 0crat commented on #27
Job was finished in 43 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-03-23 09:22] 0crat commented on #27
The job [#27](https://github.com/ammaratef45/zold-flutter-client/issues/27) is now out of scope

[2019-03-23 09:24] 0crat commented on #27
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-23 09:25] 0crat commented on #39
The job [#39](https://github.com/ammaratef45/zold-flutter-client/issues/39) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/97aa7dc8-662d-4f7d-acc0-c7cd15dccbb6); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-03-23 10:10] 0crat commented on #35
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#35](https://github.com/ammaratef45/zold-flutter-client/issues/35); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job

[2019-03-23 10:11] 0crat commented on #40
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#40](https://github.com/ammaratef45/zold-flutter-client/issues/40); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job

[2019-03-23 14:16] 0pdd commented on #34
The puzzle `31-0d7dcb0d` has disappeared from the source code, that's why I closed this issue.

[2019-03-23 14:16] #34 closed

[2019-03-23 14:16] 0pdd opened #44 "get the selected from dialog before calling this"
The puzzle `34-4d5fb50e` from #34 has to be resolved:

https://github.com/ammaratef45/zold-flutter-client/blob/498b65a6577faaa89b07291c11dcf81e95dbab05/zold_wallet/lib/login_page/login_page_view_model.dart#L56-L56

The puzzle was created by Ammar Atef on 23-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed an

[2019-03-23 14:16] 0pdd commented on #31
@ammaratef45 the puzzle [#44](https://github.com/ammaratef45/zold-flutter-client/issues/44) is still not solved; solved: [#34](https://github.com/ammaratef45/zold-flutter-client/issues/34).

[2019-03-23 14:16] 0pdd commented on #34
@0pdd the puzzle [#44](https://github.com/ammaratef45/zold-flutter-client/issues/44) is still not solved.

[2019-03-23 14:17] 0crat commented on #44
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-03-23 14:25] 0crat commented on #44
Job [#44](https://github.com/ammaratef45/zold-flutter-client/issues/44) is now in scope, role is `DEV`

[2019-03-23 14:38] 0crat commented on #34
The job [#34](https://github.com/ammaratef45/zold-flutter-client/issues/34) is now out of scope

[2019-03-23 14:41] 0crat commented on #34
Order was finished: +30 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-23 14:43] 0crat commented on #43
The job [#43](https://github.com/ammaratef45/zold-flutter-client/issues/43) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/61169f22-a90a-4e8d-9518-d47142dca9cf); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-03-24 14:39] 0crat commented on #19
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#19](https://github.com/ammaratef45/zold-flutter-client/issues/19); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job

[2019-03-24 15:40] 0crat commented on #15
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#15](https://github.com/ammaratef45/zold-flutter-client/issues/15); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job

[2019-03-24 15:40] 0crat commented on #21
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#21](https://github.com/ammaratef45/zold-flutter-client/issues/21); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job

[2019-03-24 15:40] 0crat commented on #13
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#13](https://github.com/ammaratef45/zold-flutter-client/issues/13); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job

[2019-03-24 15:40] 0crat commented on #20
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#20](https://github.com/ammaratef45/zold-flutter-client/issues/20); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job

[2019-03-24 18:59] #39 closed

[2019-03-24 18:59] 0pdd commented on #39
The puzzle `26-5375c740` has disappeared from the source code, that's why I closed this issue.

[2019-03-24 18:59] 0pdd commented on #26
@yegor256 the only puzzle [#39](https://github.com/ammaratef45/zold-flutter-client/issues/39) is solved here.

[2019-03-24 19:16] 0crat commented on #39
Job was finished in 33 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-03-24 19:20] 0crat commented on #39
The job [#39](https://github.com/ammaratef45/zold-flutter-client/issues/39) is now out of scope

[2019-03-24 19:22] 0crat commented on #39
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-24 20:12] 0crat commented on #44
The job [#44](https://github.com/ammaratef45/zold-flutter-client/issues/44) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/a254e888-91ed-4826-a84c-0f913ee54c3f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-03-25 09:58] 0crat commented on #38
Job [#38](https://github.com/ammaratef45/zold-flutter-client/issues/38) is now in scope, role is `DEV`

[2019-03-25 10:01] 0crat commented on #41
Job [#41](https://github.com/ammaratef45/zold-flutter-client/issues/41) is now in scope, role is `DEV`

[2019-03-25 10:15] 0crat commented on #38
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amorenew[/z](https://www.0crat.com/u/amorenew)

[2019-03-25 10:22] 0crat commented on #38
The job [#38](https://github.com/ammaratef45/zold-flutter-client/issues/38) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/f9bf8bf9-6c6d-4316-8a06-2e4f4a063c19); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-03-25 10:31] 0crat commented on #41
The job [#41](https://github.com/ammaratef45/zold-flutter-client/issues/41) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/b48a5911-597e-437a-ae61-876e2d6241e4); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-03-25 16:24] ammaratef45 opened #45 "iOS opens a blank page"
Version 0.1.2 in iOS opens a blank white page

[2019-03-25 16:25] 0crat commented on #45
The job [#45](https://github.com/ammaratef45/zold-flutter-client/issues/45) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/b77bf601-454a-4f53-92be-aee2e85466e8); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-03-25 16:32] 0crat commented on #45
Job `gh:ammaratef45/zold-flutter-client#45` already assigned to @ammaratef45, can't assign to @ammaratef45

[2019-03-25 16:33] 0crat commented on #45
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-25 16:33] 0crat commented on #45
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-25 16:33] 0crat commented on #45
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-25 16:52] ammaratef45 commented on #45
Looks like [This is the issue](https://github.com/flutter/flutter/issues/22188#issuecomment-451427968)

[2019-03-25 16:55] #44 closed

[2019-03-25 16:55] 0pdd commented on #44
The puzzle `34-4d5fb50e` has disappeared from the source code, that's why I closed this issue.

[2019-03-25 16:55] 0pdd commented on #41
The puzzle `27-6029f715` has disappeared from the source code, that's why I closed this issue.

[2019-03-25 16:55] #41 closed

[2019-03-25 16:55] #43 closed

[2019-03-25 16:55] 0pdd commented on #43
The puzzle `27-6c2519ea` has disappeared from the source code, that's why I closed this issue.

[2019-03-25 16:55] 0pdd commented on #31
@ammaratef45 all 2 puzzles are solved here: [#34](https://github.com/ammaratef45/zold-flutter-client/issues/34), [#44](https://github.com/ammaratef45/zold-flutter-client/issues/44).

[2019-03-25 16:55] 0pdd commented on #34
@0pdd the only puzzle [#44](https://github.com/ammaratef45/zold-flutter-client/issues/44) is solved here.

[2019-03-25 16:55] 0pdd commented on #27
@yegor256 the puzzle [#42](https://github.com/ammaratef45/zold-flutter-client/issues/42) is still not solved; solved: [#41](https://github.com/ammaratef45/zold-flutter-client/issues/41), [#43](https://github.com/ammaratef45/zold-flutter-client/issues/43).

[2019-03-25 17:12] 0crat commented on #41
Job was finished in 6 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-03-25 17:13] #45 closed

[2019-03-25 17:17] 0crat commented on #44
Job was finished in 20 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-03-25 17:21] ammaratef45 opened #46 "title design"
Add zold logo and phone number instead of Zold title

[2019-03-25 17:21] ammaratef45 opened #47 "Restart"
Add the restart option like in wts

[2019-03-25 17:25] 0crat commented on #41
The job [#41](https://github.com/ammaratef45/zold-flutter-client/issues/41) is now out of scope

[2019-03-25 17:25] 0crat commented on #44
The job [#44](https://github.com/ammaratef45/zold-flutter-client/issues/44) is now out of scope

[2019-03-25 17:25] 0crat commented on #43
The job [#43](https://github.com/ammaratef45/zold-flutter-client/issues/43) is now out of scope

[2019-03-25 17:27] 0crat commented on #41
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-25 17:27] 0crat commented on #43
Order was finished: +30 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-25 17:29] 0crat commented on #44
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-25 17:29] 0crat commented on #42
Job [#42](https://github.com/ammaratef45/zold-flutter-client/issues/42) is now in scope, role is `DEV`

[2019-03-25 17:29] 0crat commented on #46
Job [#46](https://github.com/ammaratef45/zold-flutter-client/issues/46) is now in scope, role is `DEV`

[2019-03-25 17:29] 0crat commented on #47
Job [#47](https://github.com/ammaratef45/zold-flutter-client/issues/47) is now in scope, role is `DEV`

[2019-03-25 17:34] 0crat commented on #45
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-03-25 17:40] 0crat commented on #47
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-25 17:41] 0crat commented on #46
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-25 17:41] 0crat commented on #42
The job [#42](https://github.com/ammaratef45/zold-flutter-client/issues/42) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/b45d7d9d-37aa-4b75-80c1-0b67dfd7e56f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-03-25 17:43] 0crat commented on #45
The job [#45](https://github.com/ammaratef45/zold-flutter-client/issues/45) is now out of scope

[2019-03-25 17:46] 0crat commented on #46
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#46](https://github.com/ammaratef45/zold-flutter-client/issues/46); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job

[2019-03-25 17:46] 0crat commented on #47
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#47](https://github.com/ammaratef45/zold-flutter-client/issues/47); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job

[2019-03-25 17:46] 0crat commented on #45
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-25 21:39] 0crat commented on #37
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#37](https://github.com/ammaratef45/zold-flutter-client/issues/37); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job

[2019-03-27 02:51] #38 closed

[2019-03-27 02:52] 0pdd commented on #42
The puzzle `27-82704f59` has disappeared from the source code, that's why I closed this issue.

[2019-03-27 02:52] #42 closed

[2019-03-27 02:52] 0pdd commented on #27
@yegor256 all 3 puzzles are solved here: [#41](https://github.com/ammaratef45/zold-flutter-client/issues/41), [#42](https://github.com/ammaratef45/zold-flutter-client/issues/42), [#43](https://github.com/ammaratef45/zold-flutter-client/issues/43).

[2019-03-27 03:10] 0crat commented on #38
Job was finished in 40 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-03-27 03:12] 0crat commented on #42
Job was finished in 33 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-03-27 03:16] 0crat commented on #42
The job [#42](https://github.com/ammaratef45/zold-flutter-client/issues/42) is now out of scope

[2019-03-27 03:16] 0crat commented on #38
The job [#38](https://github.com/ammaratef45/zold-flutter-client/issues/38) is now out of scope

[2019-03-27 03:16] 0crat commented on #38
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-27 03:17] 0crat commented on #42
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-27 04:59] yegor256 opened #48 "the error log window is too small"
Please, make sure it's full screen. Also, make sure the font is `monospaced` there. Also, change the padding around the text, it's too large now.

[2019-03-27 04:59] 0crat commented on #48
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-03-27 05:00] 0crat commented on #48
@yegor256[/z](https://www.0crat.com/u/yegor256) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CGC59KB9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-27 05:01] yegor256 opened #49 "error_message from /job.json"
See https://github.com/zold-io/wts.zold.io/issues/195

Get that `error_message` in case of an error and show to the user. Right after you say that there was an error on the server, in the same window.

[2019-03-27 05:01] 0crat commented on #49
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-03-27 05:01] 0crat commented on #49
@yegor256[/z](https://www.0crat.com/u/yegor256) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CGC59KB9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-27 05:02] yegor256 opened #50 "keygap accepts digits only"
It's a bug, please fix

[2019-03-27 05:02] 0crat commented on #50
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-03-27 05:02] 0crat commented on #50
@yegor256[/z](https://www.0crat.com/u/yegor256) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CGC59KB9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-27 05:02] yegor256 opened #51 "can't enter fractional amount when sending payments"
It's a bug, please fix

[2019-03-27 05:02] 0crat commented on #51
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-03-27 05:02] 0crat commented on #51
@yegor256[/z](https://www.0crat.com/u/yegor256) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CGC59KB9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-27 05:03] yegor256 opened #52 "the PULL button must always pull"
Now, when I click it, nothing happens. However, this is not correct. Instead, a normal pull operation should happen and I should wait for it.

[2019-03-27 05:03] 0crat commented on #52
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-03-27 05:03] 0crat commented on #52
@yegor256[/z](https://www.0crat.com/u/yegor256) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CGC59KB9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-27 05:10] yegor256 opened #53 "iPhone app logo is missing"
Set the logo for the mobile app on iPhone. Now it's the default one. You can use one of the images we have here: https://github.com/zold-io/zold.github.io/tree/master/images

[2019-03-27 05:10] 0crat commented on #53
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-03-27 05:10] 0crat commented on #53
@yegor256[/z](https://www.0crat.com/u/yegor256) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CGC59KB9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-27 05:13] yegor256 opened #54 "fingerprint authentication on iPhone"
Would be great to remember the keygap inside the app and let me send the payment with just a fingerprint scan. The iPhone has this feature. Or a facescan in the newest iPhone. Now I have to enter my keygap every time and it's pretty time consuming and not convenient at all.

[2019-03-27 05:13] 0crat commented on #54
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-03-27 05:13] 0crat commented on #54
@yegor256[/z](https://www.0crat.com/u/yegor256) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CGC59KB9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-27 05:14] yegor256 opened #55 ""How to contribute" section is missing in README"
I can't find any instructions about how I can contribute to the project. Please add something similar to what we have, for example, in this project: https://github.com/zold-io/zold#how-to-contribute

[2019-03-27 05:14] 0crat commented on #55
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-03-27 05:14] 0crat commented on #55
@yegor256[/z](https://www.0crat.com/u/yegor256) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CGC59KB9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-27 05:19] yegor256 opened #56 "LICENSE.txt is missing"
I would suggest you to get our license file from here (it's MIT): https://github.com/zold-io/wts.zold.io/blob/master/LICENSE.txt

[2019-03-27 05:19] 0crat commented on #56
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-03-27 05:19] 0crat commented on #56
@yegor256[/z](https://www.0crat.com/u/yegor256) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CGC59KB9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-27 05:21] yegor256 opened #57 "PULL button should be at the bottom tab"
Place it next to the "PAY" and "RECEIVE" buttons, at the bottom tab

[2019-03-27 05:21] 0crat commented on #57
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-03-27 05:21] 0crat commented on #57
@yegor256[/z](https://www.0crat.com/u/yegor256) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CGC59KB9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-27 05:28] yegor256 opened #58 "where is the builder?"
I don't see any builder in this repo. We need a tool that will run those `flutter test` and other commands, including (in the future) static analyzers, integration tests, etc.

[2019-03-27 05:28] 0crat commented on #58
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-03-27 05:28] 0crat commented on #58
@yegor256[/z](https://www.0crat.com/u/yegor256) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CGC59KB9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-27 05:29] yegor256 opened #59 "don't show zents on the front page"
Don't show them. Instead, when I click on the balance, I should see them at the floating-up message bar, just like I see the "ID copied" message when I click on the wallet ID.

[2019-03-27 05:30] 0crat commented on #59
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-03-27 05:30] 0crat commented on #59
@yegor256[/z](https://www.0crat.com/u/yegor256) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CGC59KB9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-27 05:45] 0crat commented on #59
The job [#59](https://github.com/ammaratef45/zold-flutter-client/issues/59) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/e468cc76-eb18-43d5-b0b8-87ebddee2c9c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-03-27 05:49] 0crat commented on #59
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-27 05:51] 0crat commented on #59
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-03-27 05:51] 0crat commented on #58
Job [#58](https://github.com/ammaratef45/zold-flutter-client/issues/58) is now in scope, role is `DEV`

[2019-03-27 05:52] 0crat commented on #55
Job [#55](https://github.com/ammaratef45/zold-flutter-client/issues/55) is now in scope, role is `DEV`

[2019-03-27 05:55] 0crat commented on #54
Job [#54](https://github.com/ammaratef45/zold-flutter-client/issues/54) is now in scope, role is `DEV`

[2019-03-27 05:55] 0crat commented on #57
The job [#57](https://github.com/ammaratef45/zold-flutter-client/issues/57) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/1ac58b15-4d45-4c7c-bd22-8e205243fb16); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-03-27 05:57] 0crat commented on #53
Job [#53](https://github.com/ammaratef45/zold-flutter-client/issues/53) is already in scope

[2019-03-27 05:58] 0crat commented on #53
The job [#53](https://github.com/ammaratef45/zold-flutter-client/issues/53) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/63848e18-943b-4223-a19c-208e06e6b054); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-03-27 05:58] 0crat commented on #56
The job [#56](https://github.com/ammaratef45/zold-flutter-client/issues/56) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/b8a3d5c2-9e6b-4789-8323-0934e445d3d3); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-03-27 05:58] 0crat commented on #57
Job `gh:ammaratef45/zold-flutter-client#57` already assigned to @ammaratef45, can't assign to @ammaratef45

[2019-03-27 05:58] 0crat commented on #51
The job [#51](https://github.com/ammaratef45/zold-flutter-client/issues/51) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/f59f4d94-a23e-435b-8603-c8212afb0c3b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-03-27 06:00] 0crat commented on #48
The job [#48](https://github.com/ammaratef45/zold-flutter-client/issues/48) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/a7a0c7c8-ce87-4352-add7-19a3766870b3); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-03-27 06:03] 0crat commented on #50
The job [#50](https://github.com/ammaratef45/zold-flutter-client/issues/50) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/0db469ce-4b5e-4056-9bd5-99155e8b7e33); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-03-27 06:03] 0crat commented on #52
The job [#52](https://github.com/ammaratef45/zold-flutter-client/issues/52) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/13164764-1cf2-4533-8730-72aa75da463e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-03-27 06:03] 0crat commented on #49
The job [#49](https://github.com/ammaratef45/zold-flutter-client/issues/49) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/f715e9fd-81fa-4bdf-a42c-a4973cd49170); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-03-27 06:04] 0crat commented on #52
Job `gh:ammaratef45/zold-flutter-client#52` already assigned to @ammaratef45, can't assign to @ammaratef45

[2019-03-27 06:04] 0crat commented on #57
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-27 06:05] 0crat commented on #49
Job `gh:ammaratef45/zold-flutter-client#49` already assigned to @ammaratef45, can't assign to @ammaratef45

[2019-03-27 06:05] 0crat commented on #56
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-27 06:06] 0crat commented on #57
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-03-27 06:06] 0crat commented on #53
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-27 06:06] 0crat commented on #51
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-27 06:06] 0crat commented on #58
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-03-27 06:06] 0crat commented on #48
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-27 06:07] 0crat commented on #50
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-27 06:07] 0crat commented on #49
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-27 06:07] 0crat commented on #55
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-03-27 06:07] 0crat commented on #52
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-27 06:07] 0crat commented on #56
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-03-27 06:09] 0crat commented on #53
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-03-27 06:09] 0crat commented on #51
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-03-27 06:09] 0crat commented on #54
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-03-27 06:09] 0crat commented on #52
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-03-27 06:09] 0crat commented on #50
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-03-27 06:09] 0crat commented on #48
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-03-27 06:09] 0crat commented on #49
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-03-27 08:27] 0crat commented on #55
The job [#55](https://github.com/ammaratef45/zold-flutter-client/issues/55) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/46c2fa62-f3f9-4de5-a1aa-433212c35f19); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-03-27 08:29] 0crat commented on #55
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-27 08:32] ammaratef45 opened #61 "Fix circleci"
Circleci fails fails due to missing the secrets file, fix it.

[2019-03-27 08:34] ammaratef45 opened #62 "Fix rultor merge"
Rultor needs secrets file to be able to run tests before merging, add it encrypted.

[2019-03-27 08:35] 0crat commented on #61
Job [#61](https://github.com/ammaratef45/zold-flutter-client/issues/61) is now in scope, role is `DEV`

[2019-03-27 08:39] 0crat commented on #62
Job [#62](https://github.com/ammaratef45/zold-flutter-client/issues/62) is now in scope, role is `DEV`

[2019-03-27 08:43] 0crat commented on #62
The job [#62](https://github.com/ammaratef45/zold-flutter-client/issues/62) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/ec525a24-7561-45cf-b92a-93764020455c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-03-27 08:45] 0crat commented on #61
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#61](https://github.com/ammaratef45/zold-flutter-client/issues/61); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job

[2019-03-27 08:46] 0crat commented on #61
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-27 08:46] 0crat commented on #62
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-27 08:46] 0crat commented on #62
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-27 08:47] 0crat commented on #61
The job [#61](https://github.com/ammaratef45/zold-flutter-client/issues/61) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/0f1ac098-9789-4b16-90bd-e1f4add6c673); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-03-27 08:47] 0crat commented on #62
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-27 08:48] 0crat commented on #61
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-27 08:48] 0crat commented on #61
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-27 13:04] #61 closed

[2019-03-27 13:04] #62 closed

[2019-03-27 13:21] 0crat commented on #61
Job was finished in 4 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-03-27 13:21] 0crat commented on #62
Job was finished in 4 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-03-27 13:27] 0crat commented on #61
The job [#61](https://github.com/ammaratef45/zold-flutter-client/issues/61) is now out of scope

[2019-03-27 13:27] 0crat commented on #62
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-27 13:27] 0crat commented on #62
The job [#62](https://github.com/ammaratef45/zold-flutter-client/issues/62) is now out of scope

[2019-03-27 13:27] 0crat commented on #61
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-28 02:03] #52 closed

[2019-03-28 02:03] #48 closed

[2019-03-28 02:22] #50 closed

[2019-03-28 02:30] #51 closed

[2019-03-28 02:31] #55 closed

[2019-03-28 02:36] 0crat commented on #48
Job was finished in 20 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-03-28 02:38] 0crat commented on #52
Job was finished in 20 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-03-28 02:39] #59 closed

[2019-03-28 02:40] #57 closed

[2019-03-28 02:52] #53 closed

[2019-03-28 03:06] 0crat commented on #52
The job [#52](https://github.com/ammaratef45/zold-flutter-client/issues/52) is now out of scope

[2019-03-28 03:10] 0crat commented on #48
The job [#48](https://github.com/ammaratef45/zold-flutter-client/issues/48) is now out of scope

[2019-03-28 03:11] 0crat commented on #48
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-28 03:11] 0crat commented on #50
Job was finished in 20 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-03-28 03:13] 0crat commented on #52
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-28 03:14] 0crat commented on #55
Job was finished in 18 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-03-28 03:21] 0crat commented on #51
Job was finished in 20 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-03-28 03:21] 0crat commented on #57
Job was finished in 20 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-03-28 03:22] 0crat commented on #59
Job was finished in 20 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-03-28 03:22] 0crat commented on #50
The job [#50](https://github.com/ammaratef45/zold-flutter-client/issues/50) is now out of scope

[2019-03-28 03:22] 0crat commented on #35
The job [#35](https://github.com/ammaratef45/zold-flutter-client/issues/35) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/7e51013b-e58c-49bb-97d6-e77660262d82); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-03-28 03:22] 0crat commented on #13
The job [#13](https://github.com/ammaratef45/zold-flutter-client/issues/13) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/4c4f5d1c-a6fd-4fbd-b8d0-7a0eac03963a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-03-28 03:23] 0crat commented on #53
Job was finished in 21 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-03-28 03:26] 0crat commented on #51
The job [#51](https://github.com/ammaratef45/zold-flutter-client/issues/51) is now out of scope

[2019-03-28 03:34] 0crat commented on #50
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-28 04:01] 0crat commented on #55
The job [#55](https://github.com/ammaratef45/zold-flutter-client/issues/55) is now out of scope

[2019-03-28 04:02] 0crat commented on #57
The job [#57](https://github.com/ammaratef45/zold-flutter-client/issues/57) is now out of scope

[2019-03-28 04:02] 0crat commented on #59
The job [#59](https://github.com/ammaratef45/zold-flutter-client/issues/59) is now out of scope

[2019-03-28 04:06] 0crat commented on #55
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-28 04:06] 0crat commented on #13
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-28 04:07] 0crat commented on #35
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-28 04:07] 0crat commented on #13
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-28 04:07] 0crat commented on #51
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-28 04:07] 0crat commented on #35
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-28 04:08] 0crat commented on #53
The job [#53](https://github.com/ammaratef45/zold-flutter-client/issues/53) is now out of scope

[2019-03-28 04:08] 0crat commented on #57
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-28 04:08] 0crat commented on #59
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-28 04:12] 0crat commented on #53
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-28 09:39] #56 closed

[2019-03-28 09:47] #13 closed

[2019-03-28 10:49] 0crat commented on #46
The job [#46](https://github.com/ammaratef45/zold-flutter-client/issues/46) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/4219f4cf-9dd5-4626-acae-da62f78677c6); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-03-28 10:49] 0crat commented on #40
The job [#40](https://github.com/ammaratef45/zold-flutter-client/issues/40) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/22804180-1783-41d3-9f95-1677cbe45399); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-03-28 10:49] 0crat commented on #56
Job was finished in 27 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-03-28 10:53] 0crat commented on #40
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#40](https://github.com/ammaratef45/zold-flutter-client/issues/40); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job

[2019-03-28 10:57] 0crat commented on #13
Job was finished in 6 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-03-28 10:57] 0crat commented on #37
The job [#37](https://github.com/ammaratef45/zold-flutter-client/issues/37) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/ce925b85-5c3d-4ba0-8d92-643b36c208a7); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-03-28 11:04] 0crat commented on #46
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-28 11:04] 0crat commented on #40
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-28 11:04] 0crat commented on #40
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-28 11:04] 0crat commented on #56
The job [#56](https://github.com/ammaratef45/zold-flutter-client/issues/56) is now out of scope

[2019-03-28 11:04] 0crat commented on #46
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-28 11:04] 0crat commented on #37
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-28 11:04] 0crat commented on #13
The job [#13](https://github.com/ammaratef45/zold-flutter-client/issues/13) is now out of scope

[2019-03-28 11:05] 0crat commented on #37
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-28 11:05] 0crat commented on #56
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-28 11:05] 0crat commented on #13
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-29 09:52] #49 closed

[2019-03-29 10:46] 0crat commented on #49
The job [#49](https://github.com/ammaratef45/zold-flutter-client/issues/49) is now out of scope

[2019-03-29 10:49] 0crat commented on #49
Order was finished: +30 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-29 15:42] 0crat commented on #19
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#19](https://github.com/ammaratef45/zold-flutter-client/issues/19); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job

[2019-03-29 16:42] 0crat commented on #20
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#20](https://github.com/ammaratef45/zold-flutter-client/issues/20); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job

[2019-03-29 16:42] 0crat commented on #21
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#21](https://github.com/ammaratef45/zold-flutter-client/issues/21); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job

[2019-03-29 16:42] 0crat commented on #15
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#15](https://github.com/ammaratef45/zold-flutter-client/issues/15); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job

[2019-03-30 05:59] #35 closed

[2019-03-30 06:21] 0crat commented on #35
The job [#35](https://github.com/ammaratef45/zold-flutter-client/issues/35) is now out of scope

[2019-03-30 06:23] 0crat commented on #35
Order was finished: +30 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-30 07:28] 0crat commented on #47
The job [#47](https://github.com/ammaratef45/zold-flutter-client/issues/47) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/9c35f3cf-cf8d-4916-a8b9-3a934a4c5872); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-03-30 07:28] 0crat commented on #47
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-30 07:28] 0crat commented on #47
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-30 08:51] #47 closed

[2019-03-30 09:11] 0crat commented on #47
Job was finished in 1 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-03-30 09:17] 0crat commented on #47
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-30 09:17] 0crat commented on #47
The job [#47](https://github.com/ammaratef45/zold-flutter-client/issues/47) is now out of scope

[2019-03-30 14:13] #46 closed

[2019-03-30 14:16] ammaratef45 opened #66 "Add logout option"
enable log out from the app

[2019-03-30 14:27] 0crat commented on #66
The job [#66](https://github.com/ammaratef45/zold-flutter-client/issues/66) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/28f142f1-83a0-4c45-9424-81aa0b897df4); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-03-30 14:27] #66 closed

[2019-03-30 14:32] 0crat commented on #66
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-30 14:32] 0crat commented on #66
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-30 14:32] #40 closed

[2019-03-30 14:33] ammaratef45 opened #67 "Long transaction details is not shown"
When transaction details is long, it should be splitted into two lines

[2019-03-30 14:34] 0crat commented on #66
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-30 14:55] 0crat commented on #67
The job [#67](https://github.com/ammaratef45/zold-flutter-client/issues/67) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/2abab3cc-9a5b-4173-8d48-f737219e689e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-03-30 14:56] 0crat commented on #46
The job [#46](https://github.com/ammaratef45/zold-flutter-client/issues/46) is now out of scope

[2019-03-30 14:58] 0crat commented on #66
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-03-30 15:06] 0crat commented on #46
Order was finished: +30 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-30 15:06] 0crat commented on #67
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-30 15:07] 0crat commented on #67
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-30 15:08] 0crat commented on #66
The job [#66](https://github.com/ammaratef45/zold-flutter-client/issues/66) is now out of scope

[2019-03-30 15:09] 0crat commented on #66
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-30 15:09] 0crat commented on #40
The job [#40](https://github.com/ammaratef45/zold-flutter-client/issues/40) is now out of scope

[2019-03-30 15:09] 0crat commented on #67
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-30 15:09] 0crat commented on #40
Order was finished: +30 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-30 17:08] #67 closed

[2019-03-30 17:26] 0crat commented on #67
Job was finished in 2 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-03-30 17:32] 0crat commented on #67
The job [#67](https://github.com/ammaratef45/zold-flutter-client/issues/67) is now out of scope

[2019-03-30 17:32] 0crat commented on #67
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-30 17:33] 0crat commented on #58
The job [#58](https://github.com/ammaratef45/zold-flutter-client/issues/58) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/ad2fffe1-1c16-496e-92b8-69443290383f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-03-30 17:36] #37 closed

[2019-03-30 17:58] 0crat commented on #37
The job [#37](https://github.com/ammaratef45/zold-flutter-client/issues/37) is now out of scope

[2019-03-30 18:01] 0crat commented on #37
Order was finished: +30 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-30 18:03] 0crat commented on #54
The job [#54](https://github.com/ammaratef45/zold-flutter-client/issues/54) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/43531bd3-88c1-445a-b303-baf5f393a7b6); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-03-30 18:25] #58 closed

[2019-03-30 18:49] 0crat commented on #58
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-03-30 18:56] 0crat commented on #58
The job [#58](https://github.com/ammaratef45/zold-flutter-client/issues/58) is now out of scope

[2019-03-30 18:59] 0crat commented on #58
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-31 03:52] 0pdd opened #68 "save and retreaive keygap from shared prefs. make keygap password shown. allow user to login with..."
The puzzle `54-72d7e8a7` from #54 has to be resolved:

https://github.com/ammaratef45/zold-flutter-client/blob/2009c067926ff12c732c512b53502c3e53d96071/zold_wallet/lib/pay_page/pay_page_viewmodel.dart#L37-L40

The puzzle was created by Ammar Atef on 31-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the

[2019-03-31 03:52] 0pdd commented on #54
@yegor256 the puzzle [#68](https://github.com/ammaratef45/zold-flutter-client/issues/68) is still not solved.

[2019-03-31 03:52] #54 closed

[2019-03-31 03:52] 0crat commented on #68
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-03-31 04:11] 0crat commented on #54
Job was finished in 9 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-03-31 04:16] 0crat commented on #54
The job [#54](https://github.com/ammaratef45/zold-flutter-client/issues/54) is now out of scope

[2019-03-31 04:17] 0crat commented on #54
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-31 06:08] 0crat commented on #68
Job [#68](https://github.com/ammaratef45/zold-flutter-client/issues/68) is now in scope, role is `DEV`

[2019-03-31 08:13] 0crat commented on #68
The job [#68](https://github.com/ammaratef45/zold-flutter-client/issues/68) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/3f42ef7a-323c-4af1-90c8-a794bfdeb2ff); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-03-31 16:17] 0pdd commented on #68
The puzzle `54-72d7e8a7` has disappeared from the source code, that's why I closed this issue.

[2019-03-31 16:17] #68 closed

[2019-03-31 16:17] 0pdd commented on #54
@yegor256 the only puzzle [#68](https://github.com/ammaratef45/zold-flutter-client/issues/68) is solved here.

[2019-03-31 16:41] 0crat commented on #68
Job was finished in 8 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-03-31 16:46] 0crat commented on #68
The job [#68](https://github.com/ammaratef45/zold-flutter-client/issues/68) is now out of scope

[2019-03-31 16:46] 0crat commented on #68
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-01 07:56] yegor256 opened #69 "skip the "Operation ended OK" dialog"
When you finish an operation, which finished without an error, just show the message in the floating status bar at the bottom of the screen and that's it.

[2019-04-01 07:56] 0crat commented on #69
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-04-01 07:56] 0crat commented on #69
@yegor256[/z](https://www.0crat.com/u/yegor256) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CGC59KB9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-01 07:57] yegor256 opened #70 "multiple clicks at icons"
Try to click multiple times at those "copy wallet ID" icon, fast. You will see what happens.

[2019-04-01 07:57] 0crat commented on #70
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-04-01 07:57] 0crat commented on #70
@yegor256[/z](https://www.0crat.com/u/yegor256) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CGC59KB9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-01 08:00] yegor256 opened #71 "the list of transactions is not updated after payment"
I just sent a payment and returned back to the main screen. But the list of transactions doesn't include the one I just sent.

[2019-04-01 08:00] 0crat commented on #71
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-04-01 08:00] 0crat commented on #71
@yegor256[/z](https://www.0crat.com/u/yegor256) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CGC59KB9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-01 08:01] yegor256 opened #72 "show my total under the AMOUNT field"
When I'm trying to send the payment I don't see my balance. This is inconvenient. Show my current balance in the payment payment payment page, for convenience.

[2019-04-01 08:01] 0crat commented on #72
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-04-01 08:01] 0crat commented on #72
@yegor256[/z](https://www.0crat.com/u/yegor256) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CGC59KB9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-01 08:02] yegor256 opened #73 "modal dialog before sending the money"
Just like you ask me to confirm when I click RESTART, you should ask before you send the payment. Say something like: "You are going to send 123 ZLD to ammaratef45. This operation is not refundable! Are you sure?"

[2019-04-01 08:03] 0crat commented on #73
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-04-01 08:03] 0crat commented on #73
@yegor256[/z](https://www.0crat.com/u/yegor256) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CGC59KB9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-01 08:04] yegor256 opened #74 "bnf is not necessary in the QR invoice"
When I create a QR for getting a payment, I don't need to specify the bnf. I just have to say the amount and the details. The invoice prefix will be generated by the server.

Don't show the QR code until I enter the details. When I submit the amount and the details, you go to the server, get `/invoice.json` and use that prefix in the QR code.

[2019-04-01 08:04] 0crat commented on #74
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-04-01 08:05] 0crat commented on #74
@yegor256[/z](https://www.0crat.com/u/yegor256) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CGC59KB9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-01 08:05] 0crat commented on #69
Job [#69](https://github.com/ammaratef45/zold-flutter-client/issues/69) is now in scope, role is `DEV`

[2019-04-01 08:05] 0crat commented on #73
Job [#73](https://github.com/ammaratef45/zold-flutter-client/issues/73) is now in scope, role is `DEV`

[2019-04-01 08:06] yegor256 commented on #69
@ammaratef45 the same for the "payment is OK" dialog

[2019-04-01 08:10] yegor256 opened #75 "icons at the bottom, not buttons"
There are both icons and buttons at the bottom status bar. Just make them all icons, please.

[2019-04-01 08:10] 0crat commented on #75
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-04-01 08:10] 0crat commented on #75
@yegor256[/z](https://www.0crat.com/u/yegor256) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CGC59KB9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-01 08:11] 0crat commented on #69
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-04-01 08:11] 0crat commented on #71
Job [#71](https://github.com/ammaratef45/zold-flutter-client/issues/71) is now in scope, role is `DEV`

[2019-04-01 08:11] 0crat commented on #72
Job [#72](https://github.com/ammaratef45/zold-flutter-client/issues/72) is now in scope, role is `DEV`

[2019-04-01 08:11] ammaratef45 commented on #70
@yegor256 It will let the snack bar (bottom message bar) appear and disappear like forever, right?

[2019-04-01 08:14] ammaratef45 commented on #75
@yegor256 can you suggest icons that I can tell it is a pull or it is a restart once I see them?

[2019-04-01 08:18] 0crat commented on #72
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-04-01 08:18] 0crat commented on #73
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-04-01 08:18] 0crat commented on #74
Job [#74](https://github.com/ammaratef45/zold-flutter-client/issues/74) is now in scope, role is `DEV`

[2019-04-01 08:18] 0crat commented on #71
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-04-01 08:18] 0crat commented on #70
Job [#70](https://github.com/ammaratef45/zold-flutter-client/issues/70) is now in scope, role is `DEV`

[2019-04-01 08:20] 0crat commented on #75
Job [#75](https://github.com/ammaratef45/zold-flutter-client/issues/75) is now in scope, role is `DEV`

[2019-04-01 08:25] 0crat commented on #69
The job [#69](https://github.com/ammaratef45/zold-flutter-client/issues/69) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/4002e84b-ca60-4459-b293-d21887cd21e6); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-04-01 08:25] 0crat commented on #74
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-04-01 08:25] 0crat commented on #70
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-04-01 08:25] 0crat commented on #75
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-04-01 08:26] 0crat commented on #73
The job [#73](https://github.com/ammaratef45/zold-flutter-client/issues/73) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/2e766f8c-4edc-44bd-8e0c-4ebd36ae159b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-04-01 08:37] yegor256 opened #76 "each payment in two lines"
Render each payment with two lines, like this:

[code]

Align left.

[2019-04-01 08:37] 0crat commented on #76
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-04-01 08:37] 0crat commented on #76
@yegor256[/z](https://www.0crat.com/u/yegor256) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CGC59KB9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-01 08:46] 0crat commented on #76
Job [#76](https://github.com/ammaratef45/zold-flutter-client/issues/76) is now in scope, role is `DEV`

[2019-04-01 08:52] 0crat commented on #76
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-04-01 18:49] 0crat commented on #72
The job [#72](https://github.com/ammaratef45/zold-flutter-client/issues/72) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/57ff89b1-fc64-49e4-a61f-89441ccbc169); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-04-02 05:07] yegor256 opened #77 "auto-pull on start is confusing"
Why do you pull on start? It seems that you are doing this automatically, no matter what is the situation on the server. It shouldn't work like that. You should read the data from the server. If the server says that the wallet is absent, you just don't show the balance and instead of the list of transactions you show the message: "Please, click PULL to get your wallet from the network".

[2019-04-02 05:07] 0crat commented on #77
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-04-02 05:07] 0crat commented on #77
@yegor256[/z](https://www.0crat.com/u/yegor256) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CGC59KB9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-02 05:13] yegor256 opened #78 "update on swipe down"
When I drag the screen down, the app has to update the information from the server. When it happens, it should make the balance text gray, send the HTTP request to the server, fetch the data, update the screen, and make the balance text black again.

The process of updating the data should be visible to me, as a user.

Every time the update happens, this visibility must be present. The color of th

[2019-04-02 05:13] 0crat commented on #78
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-04-02 05:13] 0crat commented on #78
@yegor256[/z](https://www.0crat.com/u/yegor256) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CGC59KB9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-02 05:45] 0crat commented on #78
Job [#78](https://github.com/ammaratef45/zold-flutter-client/issues/78) is now in scope, role is `DEV`

[2019-04-02 05:51] 0crat commented on #78
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-04-02 06:02] 0crat commented on #77
Job [#77](https://github.com/ammaratef45/zold-flutter-client/issues/77) is now in scope, role is `DEV`

[2019-04-02 06:08] 0crat commented on #77
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-04-02 06:09] 0crat commented on #71
The job [#71](https://github.com/ammaratef45/zold-flutter-client/issues/71) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/a0548dca-3c51-4a4a-adf3-1ddc039a64af); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-04-02 12:47] pin2t opened #79 "Push notifications"
It would be nice to have push notifications on incoming payments. Since wallet is not standalone already (it uses wts.zold.io server) the server could send pushes to mobile client.

[2019-04-02 12:47] 0crat commented on #79
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-04-02 12:47] 0crat commented on #79
@pin2t[/z](https://www.0crat.com/u/pin2t) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CGC59KB9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-02 15:20] 0crat commented on #74
The job [#74](https://github.com/ammaratef45/zold-flutter-client/issues/74) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/d3d88f9a-d027-41b1-975f-aff7b835ffc2); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-04-02 15:23] ammaratef45 commented on #79
@pin2t This is a good Idea, thanks 👍

[2019-04-02 17:28] #69 closed

[2019-04-02 17:45] 0crat commented on #69
Job was finished in 33 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-04-02 17:50] 0crat commented on #69
The job [#69](https://github.com/ammaratef45/zold-flutter-client/issues/69) is now out of scope

[2019-04-02 17:52] 0crat commented on #69
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-03 05:52] yegor256 opened #80 "login page must be broken down into three"
At the moment there is one big login page. It's not convenient. Instead, there should be three.

1. Login. You ask for a phone number and that's it. There is one field for the number (remove the drop down with the list of countries) and a button "Send me the code". Also, at this page should be a link/text saying "Use auth code instead". Also, put the "+" sign right before the input field. Also, wh

[2019-04-03 05:52] 0crat commented on #80
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-04-03 05:52] 0crat commented on #80
@yegor256[/z](https://www.0crat.com/u/yegor256) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CGC59KB9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-03 06:00] yegor256 opened #81 "logo is not correct"
Use this one.
![logo](https://user-images.githubusercontent.com/526301/55456144-f73c1c80-55ee-11e9-9c5c-68566c054a66.png)

[2019-04-03 06:00] 0crat commented on #81
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-04-03 06:00] 0crat commented on #81
@yegor256[/z](https://www.0crat.com/u/yegor256) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CGC59KB9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-03 14:59] ammaratef45 commented on #15
Will not implement this as we are deploying with codemagic instead of Fastlane currently

[2019-04-03 14:59] #15 closed

[2019-04-03 14:59] 0crat commented on #77
The job [#77](https://github.com/ammaratef45/zold-flutter-client/issues/77) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/1c5d488e-3d5f-4e45-ba3a-6affbfecc9ea); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-04-03 15:01] 0crat commented on #77
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-03 15:08] 0crat commented on #78
The job [#78](https://github.com/ammaratef45/zold-flutter-client/issues/78) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/8fce8179-926e-4d80-a587-e66acab58fdd); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-04-03 15:12] 0crat commented on #78
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-03 15:16] 0crat commented on #15
Job `gh:ammaratef45/zold-flutter-client#15` is not assigned, can't get performer

[2019-04-03 15:18] 0crat commented on #15
The job [#15](https://github.com/ammaratef45/zold-flutter-client/issues/15) is now out of scope

[2019-04-03 15:39] #78 closed

[2019-04-03 15:39] #77 closed

[2019-04-03 15:55] 0crat commented on #77
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-04-03 15:55] 0crat commented on #78
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-04-03 16:00] 0crat commented on #77
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-03 16:00] 0crat commented on #78
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-03 16:00] 0crat commented on #77
The job [#77](https://github.com/ammaratef45/zold-flutter-client/issues/77) is now out of scope

[2019-04-03 16:02] 0crat commented on #78
The job [#78](https://github.com/ammaratef45/zold-flutter-client/issues/78) is now out of scope

[2019-04-03 16:44] 0crat commented on #19
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#19](https://github.com/ammaratef45/zold-flutter-client/issues/19); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job

[2019-04-03 17:40] 0crat commented on #20
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#20](https://github.com/ammaratef45/zold-flutter-client/issues/20); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job

[2019-04-03 17:43] 0crat commented on #21
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#21](https://github.com/ammaratef45/zold-flutter-client/issues/21); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job

[2019-04-03 20:59] yegor256 opened #82 "show USD value of the balance"
Would be convenient to show the current value of the balance, in USD. You can get the current USD rate of ZLD at `https://wts.zold.io/usd_rate`

[2019-04-03 20:59] 0crat commented on #82
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-04-03 20:59] 0crat commented on #82
@yegor256[/z](https://www.0crat.com/u/yegor256) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CGC59KB9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-04 02:08] #72 closed

[2019-04-04 02:30] 0crat commented on #72
The job [#72](https://github.com/ammaratef45/zold-flutter-client/issues/72) is now out of scope

[2019-04-04 02:32] 0crat commented on #72
Order was finished: +30 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-04 02:38] #71 closed

[2019-04-04 02:54] #73 closed

[2019-04-04 02:57] 0crat commented on #71
Job was finished in 44 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-04-04 03:03] 0crat commented on #71
The job [#71](https://github.com/ammaratef45/zold-flutter-client/issues/71) is now out of scope

[2019-04-04 03:11] 0crat commented on #71
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-04 03:11] 0crat commented on #82
The job [#82](https://github.com/ammaratef45/zold-flutter-client/issues/82) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/be241ade-0045-4989-9d0b-4f2557058833); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-04-04 03:12] 0crat commented on #76
The job [#76](https://github.com/ammaratef45/zold-flutter-client/issues/76) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/715cf659-7445-4182-8a63-dfc33dea9195); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-04-04 03:12] 0crat commented on #80
The job [#80](https://github.com/ammaratef45/zold-flutter-client/issues/80) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/f0419fba-7c73-457b-ad30-1653e40f220b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-04-04 03:14] 0crat commented on #81
The job [#81](https://github.com/ammaratef45/zold-flutter-client/issues/81) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/45ea5fa0-8119-4339-8edd-37160c220c2c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-04-04 03:16] 0crat commented on #81
Job `gh:ammaratef45/zold-flutter-client#81` already assigned to @ammaratef45, can't assign to @ammaratef45

[2019-04-04 03:16] 0crat commented on #82
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-04 03:17] 0crat commented on #81
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-04 03:17] 0crat commented on #76
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-04 03:17] 0crat commented on #81
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-04-04 03:17] 0crat commented on #80
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-04 03:17] 0crat commented on #82
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-04-04 03:21] 0crat commented on #80
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-04-04 03:26] 0crat commented on #73
The job [#73](https://github.com/ammaratef45/zold-flutter-client/issues/73) is now out of scope

[2019-04-04 03:27] 0crat commented on #73
Order was finished: +30 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-04 05:54] yegor256 opened #83 "don't show the fingertip if the keygap doesn't exist"
I think you should not show the fingertip icon if you don't have the keygap saved in your database. Just hide it. If the keygap exists, show it. This will be less confusing than what you have now.

[2019-04-04 05:54] 0crat commented on #83
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-04-04 05:54] 0crat commented on #83
@yegor256[/z](https://www.0crat.com/u/yegor256) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CGC59KB9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-05 07:11] 0crat commented on #83
I'm not managing `ammaratef45/zold-flutter-client` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2019-04-05 17:14] ammaratef45 commented on #81
@yegor256 the logo is used in many places
 1-  the logo in the app store.
 2- the launcher icon.
 3- the image in the README file.
 4- the image in the app bar.
 5- in the login page as in the new design (not deployed yet)
you want me to replace all of them?
Because the white background may look better in some places.

[2019-04-05 18:28] 0crat commented on #70
The job [#70](https://github.com/ammaratef45/zold-flutter-client/issues/70) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/63244383-2f7c-4c60-af37-9467ba07ad13); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-04-05 20:10] #80 closed

[2019-04-05 20:28] 0crat commented on #80
Job was finished in 41 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-04-05 20:32] 0crat commented on #80
The job [#80](https://github.com/ammaratef45/zold-flutter-client/issues/80) is now out of scope

[2019-04-05 20:34] 0crat commented on #80
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-05 21:52] 0crat commented on #75
The job [#75](https://github.com/ammaratef45/zold-flutter-client/issues/75) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/d6709a94-6d10-4ccf-813b-6eac4d34f03a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-04-06 07:01] #74 closed

[2019-04-06 07:23] 0crat commented on #74
The job [#74](https://github.com/ammaratef45/zold-flutter-client/issues/74) is now out of scope

[2019-04-06 07:25] 0crat commented on #74
Order was finished: +30 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-06 08:08] #82 closed

[2019-04-06 08:30] 0crat commented on #82
The job [#82](https://github.com/ammaratef45/zold-flutter-client/issues/82) is now out of scope

[2019-04-06 08:32] 0crat commented on #82
Order was finished: +30 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-06 08:34] #76 closed

[2019-04-06 08:54] 0crat commented on #76
The job [#76](https://github.com/ammaratef45/zold-flutter-client/issues/76) is now out of scope

[2019-04-06 08:56] 0crat commented on #76
Order was finished: +30 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-06 08:58] ammaratef45 commented on #70
@0crat wait
I've posted [a question on stackoverflow](https://stackoverflow.com/questions/55547443/flutter-how-to-disable-ontap-for-a-while-in-gesture-detector) to avoid changing the structure for solving this.
I will be working on it again after a week if no solution was received.

[2019-04-06 09:00] 0crat commented on #70
@ammaratef45 The impediment for [#70](https://github.com/ammaratef45/zold-flutter-client/issues/70) was registered successfully by @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-06 09:07] #75 closed

[2019-04-06 09:19] ammaratef45 commented on #83
@0crat assign me

[2019-04-06 09:20] #83 closed

[2019-04-06 09:32] 0crat commented on #83
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-04-06 09:32] 0crat commented on #75
Job was finished in 11 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-04-06 09:32] 0crat commented on #83
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-06 09:48] 0crat commented on #75
The job [#75](https://github.com/ammaratef45/zold-flutter-client/issues/75) is now out of scope

[2019-04-06 10:00] 0crat commented on #75
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-06 10:00] 0crat commented on #83
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-04-06 10:06] 0crat commented on #83
The job [#83](https://github.com/ammaratef45/zold-flutter-client/issues/83) is now out of scope

[2019-04-06 10:08] 0crat commented on #83
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-06 10:14] 0crat commented on #83
Job `gh:ammaratef45/zold-flutter-client#83` doesn't exist in WBS, can't create order

[2019-04-07 02:26] ammaratef45 commented on #21
For documentation, I will use [this package](https://pub.dartlang.org/packages/flutter_secure_storage)

[2019-04-07 02:29] ammaratef45 commented on #81
@0crat out

[2019-04-07 02:30] 0crat commented on #81
@ammaratef45 GitHub issue is still open, won't close

[2019-04-07 02:32] ammaratef45 commented on #81
@0crat resign

[2019-04-07 02:34] 0crat commented on #81
@ammaratef45 The user @ammaratef45[/z](https://www.0crat.com/u/ammaratef45) resigned from [#81](https://github.com/ammaratef45/zold-flutter-client/issues/81), please stop working. Reason for job resignation: Order was cancelled

[2019-04-07 02:35] 0crat commented on #81
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-07 02:37] ammaratef45 commented on #81
@0crat out

[2019-04-07 02:39] 0crat commented on #81
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#81](https://github.com/ammaratef45/zold-flutter-client/issues/81); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job

[2019-04-07 02:44] 0crat commented on #81
@ammaratef45 Job `gh:ammaratef45/zold-flutter-client#81` is not assigned, can't get performer

[2019-04-07 02:45] 0crat commented on #81
@ammaratef45 The job [#81](https://github.com/ammaratef45/zold-flutter-client/issues/81) is now out of scope

[2019-04-07 09:06] yegor256 opened #84 "list of transactions is not sorted"
Every time I update my list of transactions, they are sorted in a random order. WTF?)

[2019-04-07 09:06] 0crat commented on #84
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-04-07 09:06] 0crat commented on #84
@yegor256[/z](https://www.0crat.com/u/yegor256) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CGC59KB9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-07 09:08] yegor256 opened #85 "remove the question mark next to the balance"
No need to show the question mark. Let me just click the balance to see the zents at the bottom.

[2019-04-07 09:08] 0crat commented on #85
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-04-07 09:08] 0crat commented on #85
@yegor256[/z](https://www.0crat.com/u/yegor256) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CGC59KB9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-07 09:11] yegor256 opened #86 "create QR rename"
Let's renamed "Create QR" to "Invoice"

Also, renamed "Submit" button there to "Create"

Also, when invoice is ready, I want to see it. Now I only see the QR code. This is not enough. I want to know the invoice and want to have an ability to copy it to the clipboard.

[2019-04-07 09:11] 0crat commented on #86
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-04-07 09:11] 0crat commented on #86
@yegor256[/z](https://www.0crat.com/u/yegor256) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CGC59KB9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-07 09:15] 0crat commented on #85
Job [#85](https://github.com/ammaratef45/zold-flutter-client/issues/85) is now in scope, role is `DEV`

[2019-04-07 09:19] 0crat commented on #84
Job [#84](https://github.com/ammaratef45/zold-flutter-client/issues/84) is now in scope, role is `DEV`

[2019-04-07 09:21] 0crat commented on #86
Job [#86](https://github.com/ammaratef45/zold-flutter-client/issues/86) is now in scope, role is `DEV`

[2019-04-07 09:21] 0crat commented on #85
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-04-07 09:28] 0crat commented on #85
The job [#85](https://github.com/ammaratef45/zold-flutter-client/issues/85) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/99e5ab3c-ce00-4785-bf78-9e3712236a7f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-04-07 09:28] 0crat commented on #84
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-04-07 09:28] 0crat commented on #86
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-04-07 09:28] 0crat commented on #84
The job [#84](https://github.com/ammaratef45/zold-flutter-client/issues/84) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/171e6659-e835-4e6c-a779-d411f175893a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-04-07 09:31] 0crat commented on #86
The job [#86](https://github.com/ammaratef45/zold-flutter-client/issues/86) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/3839353a-cc66-40e7-9b70-26c978ae185a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-04-08 17:43] 0crat commented on #19
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#19](https://github.com/ammaratef45/zold-flutter-client/issues/19); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job

[2019-04-08 18:40] 0crat commented on #21
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#21](https://github.com/ammaratef45/zold-flutter-client/issues/21); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job

[2019-04-08 18:40] 0crat commented on #20
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#20](https://github.com/ammaratef45/zold-flutter-client/issues/20); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job

[2019-04-09 02:26] 0pdd opened #88 "add animated floating action to allow share and copy to clipboard"
The puzzle `86-fedec171` from #86 has to be resolved:

https://github.com/ammaratef45/zold-flutter-client/blob/cf399bc7823aadf722e1c5b04550f047d2041c92/zold_wallet/lib/create_page/create_page_viewmodel.dart#L16-L16

The puzzle was created by Ammar Atef on 09-Apr-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed a

[2019-04-09 02:26] #86 closed

[2019-04-09 02:26] 0pdd commented on #86
@yegor256 the puzzle [#88](https://github.com/ammaratef45/zold-flutter-client/issues/88) is still not solved.

[2019-04-09 02:27] 0crat commented on #88
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-04-09 02:27] ammaratef45 commented on #88
[Check this](https://medium.com/@agungsurya/create-a-simple-animated-floatingactionbutton-in-flutter-2d24f37cfbcc)

[2019-04-09 02:33] 0crat commented on #88
Job [#88](https://github.com/ammaratef45/zold-flutter-client/issues/88) is now in scope, role is `DEV`

[2019-04-09 02:47] 0crat commented on #86
Job was finished in 40 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-04-09 02:47] 0crat commented on #88
The job [#88](https://github.com/ammaratef45/zold-flutter-client/issues/88) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/33be184e-8de0-4f64-9fff-d3517dd21874); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-04-09 02:52] 0crat commented on #86
The job [#86](https://github.com/ammaratef45/zold-flutter-client/issues/86) is now out of scope

[2019-04-09 02:52] 0crat commented on #86
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-09 02:52] 0crat commented on #86
Job `gh:ammaratef45/zold-flutter-client#86` doesn't exist in WBS, can't create order

[2019-04-09 09:08] 0crat commented on #85
Job was finished in 47 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-04-09 09:09] #70 closed

[2019-04-09 09:13] 0crat commented on #85
The job [#85](https://github.com/ammaratef45/zold-flutter-client/issues/85) is now out of scope

[2019-04-09 09:15] 0crat commented on #85
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-09 09:30] 0crat commented on #70
The job [#70](https://github.com/ammaratef45/zold-flutter-client/issues/70) is now out of scope

[2019-04-09 09:32] 0crat commented on #70
Order was finished: +30 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-09 09:36] #88 closed

[2019-04-09 09:36] 0pdd commented on #88
The puzzle `86-fedec171` has disappeared from the source code, that's why I closed this issue.

[2019-04-09 09:36] 0pdd commented on #86
@yegor256 the only puzzle [#88](https://github.com/ammaratef45/zold-flutter-client/issues/88) is solved here.

[2019-04-09 10:13] 0crat commented on #88
Job was finished in 7 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-04-09 10:23] 0crat commented on #88
The job [#88](https://github.com/ammaratef45/zold-flutter-client/issues/88) is now out of scope

[2019-04-09 10:27] 0crat commented on #88
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-09 10:41] #84 closed

[2019-04-09 11:02] 0crat commented on #84
The job [#84](https://github.com/ammaratef45/zold-flutter-client/issues/84) is now out of scope

[2019-04-09 11:04] 0crat commented on #84
Order was finished: +30 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-10 11:45] yegor256 opened #89 "DOWNLOAD button"
Let's add Download button. When I click it you should go to `/download` page in WTS and return me everything you get from there. Of course, only if the wallet is pulled first.

[2019-04-10 11:45] 0crat commented on #89
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-04-10 11:45] 0crat commented on #89
@yegor256[/z](https://www.0crat.com/u/yegor256) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CGC59KB9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-10 11:47] yegor256 opened #90 "all input fields must be the same as in the login page"
Let's make sure all input fields are the same controls like the one you use in the Login page.

[2019-04-10 11:47] 0crat commented on #90
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-04-10 11:47] 0crat commented on #90
@yegor256[/z](https://www.0crat.com/u/yegor256) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CGC59KB9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-10 11:48] yegor256 opened #91 "Can't see the input field when I enter my mobile phone number"
See the screenshot:

![IMG_4917](https://user-images.githubusercontent.com/526301/55876210-bcfaee00-5b9f-11e9-9421-7be7b13560c8.PNG)

[2019-04-10 11:48] 0crat commented on #91
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-04-10 11:48] 0crat commented on #91
@yegor256[/z](https://www.0crat.com/u/yegor256) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CGC59KB9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-10 12:05] 0crat commented on #91
Job [#91](https://github.com/ammaratef45/zold-flutter-client/issues/91) is now in scope, role is `DEV`

[2019-04-10 12:05] 0crat commented on #90
Job [#90](https://github.com/ammaratef45/zold-flutter-client/issues/90) is now in scope, role is `DEV`

[2019-04-10 12:14] 0crat commented on #91
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-04-10 12:14] 0crat commented on #89
Job [#89](https://github.com/ammaratef45/zold-flutter-client/issues/89) is now in scope, role is `DEV`

[2019-04-10 12:14] 0crat commented on #90
Job [#90](https://github.com/ammaratef45/zold-flutter-client/issues/90) is already in scope

[2019-04-10 12:14] 0crat commented on #91
The job [#91](https://github.com/ammaratef45/zold-flutter-client/issues/91) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/1bf414c4-a074-42c1-94d7-c6fb70658af6); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-04-10 12:14] 0crat commented on #91
Job [#91](https://github.com/ammaratef45/zold-flutter-client/issues/91) is already in scope

[2019-04-10 12:14] 0crat commented on #91
@0crat[/z](https://www.0crat.com/u/0crat) I see that you unassigned this issue; the order is still assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45) though; to cancel the order use `refuse`, as in [§6](http://www.zerocracy.com/policy.html#6)

[2019-04-10 12:33] 0crat commented on #89
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-04-10 12:36] 0crat commented on #90
The job [#90](https://github.com/ammaratef45/zold-flutter-client/issues/90) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/3c5b5208-14fa-425c-9727-9616da497571); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-04-10 13:16] 0crat commented on #89
The job [#89](https://github.com/ammaratef45/zold-flutter-client/issues/89) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/2f064b6e-0b03-4e1b-885c-079e8cb1ebe3); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-04-13 18:41] 0crat commented on #19
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#19](https://github.com/ammaratef45/zold-flutter-client/issues/19); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job

[2019-04-13 20:41] 0crat commented on #21
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#21](https://github.com/ammaratef45/zold-flutter-client/issues/21); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job

[2019-04-13 20:41] 0crat commented on #20
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#20](https://github.com/ammaratef45/zold-flutter-client/issues/20); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job

[2019-04-14 08:05] #90 closed

[2019-04-14 08:05] #91 closed

[2019-04-14 08:21] 0crat commented on #89
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) I see that you unassigned this issue; the order is still assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45) though; to cancel the order use `refuse`, as in [§6](http://www.zerocracy.com/policy.html#6)

[2019-04-14 08:23] ammaratef45 commented on #89
@0crat wait

[2019-04-14 08:26] 0crat commented on #91
The job [#91](https://github.com/ammaratef45/zold-flutter-client/issues/91) is now out of scope

[2019-04-14 08:29] 0crat commented on #90
Order was finished: +30 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-14 08:29] 0crat commented on #91
Order was finished: +30 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-14 08:29] 0crat commented on #90
The job [#90](https://github.com/ammaratef45/zold-flutter-client/issues/90) is now out of scope

[2019-04-14 08:29] 0crat commented on #89
@ammaratef45 The impediment for [#89](https://github.com/ammaratef45/zold-flutter-client/issues/89) was registered successfully by @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-18 19:41] 0crat commented on #19
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#19](https://github.com/ammaratef45/zold-flutter-client/issues/19); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job

[2019-04-18 21:41] 0crat commented on #20
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#20](https://github.com/ammaratef45/zold-flutter-client/issues/20); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job

[2019-04-18 21:41] 0crat commented on #21
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#21](https://github.com/ammaratef45/zold-flutter-client/issues/21); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job

[2019-04-23 20:40] 0crat commented on #19
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#19](https://github.com/ammaratef45/zold-flutter-client/issues/19); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job

[2019-04-23 22:45] 0crat commented on #21
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#21](https://github.com/ammaratef45/zold-flutter-client/issues/21); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job

[2019-04-23 22:45] 0crat commented on #20
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#20](https://github.com/ammaratef45/zold-flutter-client/issues/20); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job

[2019-04-28 23:41] 0crat commented on #21
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#21](https://github.com/ammaratef45/zold-flutter-client/issues/21); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job

[2019-05-04 00:48] 0crat commented on #21
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#21](https://github.com/ammaratef45/zold-flutter-client/issues/21); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job

[2019-05-04 01:24] ammaratef45 commented on #21
@0crat out

[2019-05-04 01:27] 0crat commented on #21
@ammaratef45 Job `gh:ammaratef45/zold-flutter-client#21` is not assigned, can't get performer

[2019-05-04 01:27] 0crat commented on #21
@ammaratef45 The job [#21](https://github.com/ammaratef45/zold-flutter-client/issues/21) is now out of scope

[2019-05-16 08:12] yegor256 opened #93 "UI tweaks"
Would be great if you can make a few UI tweaks.

1. Remove the header at all. Move the "logout" button to the bottom bar, far right position.

2. Increase the size of the font on the screen, by 40%.

3. Use the "monospaced" font

4. Make green and red ONLY the amounts, not the entire transaction block.

5. Make sure all texts have the same left/right margins.

6. Align everything ALWAYS left on AL

[2019-05-16 08:13] 0crat commented on #93
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-05-16 08:13] 0crat commented on #93
@yegor256[/z](https://www.0crat.com/u/yegor256) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CGC59KB9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-05-16 08:14] yegor256 commented on #81
@ammaratef45 can you please fix this?

[2019-05-16 08:15] 0crat commented on #93
Job [#93](https://github.com/ammaratef45/zold-flutter-client/issues/93) is now in scope, role is `DEV`

[2019-05-16 08:17] amorenew commented on #93
@ammaratef45 I am now a beginner in FLutter and I can start a simple task like refactoring or simple UI fixes, etc
Could you make this issue as a separated task and assign me 1 task only as a beginning?
Thanks

[2019-05-16 08:21] 0crat commented on #93
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-05-16 08:26] ammaratef45 opened #94 "Font issues"
A puzzle for #93
We should use a custom text widget that has the default font size and family in the style and reuses it everywhere.

The task is to create a widget for the custom text and let it have a default font family and size then replace all `Text` widgets with it

[2019-05-16 08:27] 0crat commented on #94
Job [#94](https://github.com/ammaratef45/zold-flutter-client/issues/94) is now in scope, role is `DEV`

[2019-05-16 08:28] ammaratef45 commented on #94
@amorenew what do you think about this? can you accomplish it?

[2019-05-16 08:31] amorenew commented on #94
@ammaratef45 Yes I can, assign it to my account.
what is your expectation for the delivery date?

[2019-05-16 08:34] 0crat commented on #94
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-05-16 08:34] ammaratef45 commented on #94
@0crat assign @amorenew

[2019-05-16 08:35] 0crat commented on #94
@ammaratef45 The job [#94](https://github.com/ammaratef45/zold-flutter-client/issues/94) assigned to @amorenew[/z](https://www.0crat.com/u/amorenew), here is [why](https://www.0crat.com/footprint/CGC59KB9B/8a6a5e64-21e1-4fd0-a3ca-e17aa356d582); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.z

[2019-05-16 08:35] ammaratef45 commented on #94
Sooner is better, you manage your schedule
Let me know if there are any barriers, I will facilitate whatever you want.

[2019-05-16 08:38] 0crat commented on #94
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-05-17 00:06] amorenew opened #95 "Error building the project"
**Describe the bug**
1-I couldn't run the project as a Flutter app in Visual Studio Code because you didn't commit the '.vscode' folder which is required for VS Code to recognize it as a Flutter app.
2-I got an error while running the project for android in the following line
[code]
3-PDD documentation and docker is not clear.
do I need to install anything more or it is not required for pull reque

[2019-05-17 00:06] 0crat commented on #95
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-05-17 00:06] 0crat commented on #95
@amorenew[/z](https://www.0crat.com/u/amorenew) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CGC59KB9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-05-17 00:07] 0crat commented on #95
Job [#95](https://github.com/ammaratef45/zold-flutter-client/issues/95) is now in scope, role is `DEV`

[2019-05-17 00:11] amorenew commented on #94
@ammaratef45 Once the build #95  issue is fixed I can start this task.

[2019-05-17 00:14] 0crat commented on #95
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amorenew[/z](https://www.0crat.com/u/amorenew)

[2019-05-17 08:19] ammaratef45 commented on #95
@amorenew use the terminal or the command line prompt to build as in [here](https://github.com/ammaratef45/zold-flutter-client/blob/master/README.md#building)

No need to have a .vscode file for this

I've updated the readme and edited the gradle to solve the problems.

No need to know about docker but about pdd you may want to read the [README](https://github.com/yegor256/0pdd) of PDD repository

[2019-05-17 08:20] 0crat commented on #95
The job [#95](https://github.com/ammaratef45/zold-flutter-client/issues/95) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/f86dfd36-e60a-47b6-8999-961d2cada868); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-05-17 08:20] 0crat commented on #95
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-05-17 08:21] ammaratef45 commented on #94
@amorenew FYI, you can ask zerocrat to hold the issue
for example say:
`@0crat wait for resolution of #95 `

[2019-05-17 08:21] 0crat commented on #94
Are you speaking to me or about me [here](https://github.com/ammaratef45/zold-flutter-client/issues/94#issuecomment-493367405); you must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1)

[2019-05-17 09:04] ammaratef45 commented on #81
@yegor256 can you answer this please?

[2019-05-17 09:05] ammaratef45 commented on #93
@yegor256

Including logo?

[2019-05-17 23:37] amorenew opened #96 "KeyGap on Emulator"
**Describe the bug**
I tried to download my Key but I don't know where it is on the emulator
**To Reproduce**
1-Login by mobile number
2-Click download button

**Expected behavior**
A notification to indicate the file is download and I can see the file in the download folder

**Phone (please complete the following information):**
 - Device: Emulator APi 21

**Additional context**
I tried the websi

[2019-05-17 23:37] 0crat commented on #96
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-05-17 23:37] 0crat commented on #96
@amorenew[/z](https://www.0crat.com/u/amorenew) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CGC59KB9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-05-17 23:40] ammaratef45 commented on #96
@amorenew This button pulls the wallet, not downloading it..
What do you suggest for us to avoid this conflict next time?

[2019-05-17 23:41] amorenew opened #97 "Test Documentation"
**Is your feature request related to a problem? Please describe.**
I want to run the test but there is not enough documentation on the tests

**Describe the solution you'd like**
1-Test cases need to be cleaner and documented
2-Constant Ids and key used in the test case should be in the Secrets file or in a general constant class
3-The Secrets file should be there with empty value instead of Secre

[2019-05-17 23:41] 0crat commented on #97
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-05-17 23:41] 0crat commented on #97
@amorenew[/z](https://www.0crat.com/u/amorenew) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CGC59KB9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-05-17 23:43] 0crat commented on #96
Job [#96](https://github.com/ammaratef45/zold-flutter-client/issues/96) is now in scope, role is `DEV`

[2019-05-17 23:45] amorenew commented on #96
@ammaratef45 I didn't know it is a pull button because the icon is similar to the download icon.
I think instead of having progress as bytes it could be just a horizontal spinner with text to indicate the process that happening

[2019-05-17 23:48] 0crat commented on #96
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amorenew[/z](https://www.0crat.com/u/amorenew)

[2019-05-17 23:52] amorenew commented on #96
@ammaratef45
1-what is the difference between the key gap and API key "RSA"?
2-and is the app can download the RSA key or it should be from the website

[2019-05-17 23:52] ammaratef45 commented on #96
@amorenew we can change it from spinner to horizontal, but technically we can't know the progress (only in bytes)
You can check the docs of API for more information about that

[2019-05-17 23:55] ammaratef45 commented on #96
@amorenew

keygap is a part of the private key (when you lose it you lose your wallet).

API key is a key that is generated by wts, login using your web wallet to get yours

Currently no, you can submit a ticket for it.

[2019-05-17 23:56] amorenew commented on #96
@ammaratef45 You cannot know the total file size?
If so we could do one of the following:
1-Using a circular spinner
2-Assuming that the size is 418 bytes and is fixed.

[2019-05-17 23:57] amorenew commented on #96
Choose one of these solutions so we could open a new task for it

[2019-05-18 00:02] ammaratef45 commented on #96
@amorenew I meant to open a ticket for adding the functionality of downloading the key.

The progress showing issue needs a discussion, if you opened a ticket for it we will have to decide after revising all possible solutions.

[2019-05-18 00:03] ammaratef45 commented on #96
@amorenew

You may open an issue in WTS's repository about that

[2019-05-18 00:06] amorenew commented on #95
Project build is working

[2019-05-18 00:06] #95 closed

[2019-05-18 00:07] amorenew commented on #96
Ok, when we resolve the other issue we could discuss it again.
Thanks for the help

[2019-05-18 00:07] #96 closed

[2019-05-18 00:08] ammaratef45 commented on #97
@amorenew [Here](https://github.com/ammaratef45/zold-flutter-client#building) the testing operation is described
You create the secrets file and run the command.

I have no intention for adding an empty file instead of the encrypted one because I want that file (secrets) to be ignored by GIT.

PDD isn't related to testing (It's to check that all todo's in the right format and can be caught and ope

[2019-05-18 00:25] 0crat commented on #95
Job was finished in 15 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-05-18 00:25] 0crat commented on #96
Job `gh:ammaratef45/zold-flutter-client#96` is not assigned, can't get performer

[2019-05-18 00:29] 0crat commented on #95
The job [#95](https://github.com/ammaratef45/zold-flutter-client/issues/95) is now out of scope

[2019-05-18 00:29] 0crat commented on #96
The job [#96](https://github.com/ammaratef45/zold-flutter-client/issues/96) is now out of scope

[2019-05-18 00:32] 0crat commented on #95
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-05-18 00:56] amorenew commented on #97
@ammaratef45
I made a file called secerts.dart as the documentation
[code]

I used my key gap then I used flutter test but I got 6 failed tests.
What I did is right or I missed a step?

[2019-05-18 01:00] amorenew commented on #97
what is .asc stand for?

[2019-05-18 01:02] ammaratef45 commented on #97
@amorenew it's an encrypted file
You're not using wrong APIkey, get your API key from WTS

[2019-05-18 01:05] amorenew commented on #97
@ammaratef45 Yes I did use the key gap from wts website but same error.
Note I have 0 zents but this is not the issue if so I will not get 6 fails

[2019-05-18 01:12] amorenew commented on #97
@ammaratef45 I think I found the issue
 ` FormatException: Invalid HTTP header field value: "-----BEGIN PGP MESSAGE-----\n\nhQE"`
I got `\n` for spaces because I used `'''text'''`
I wonder how you use your key because with single quotes I need to use escape slash '\' in several places

[2019-05-18 02:31] amorenew commented on #97
I installed Ruby and pdd but still the test case I don't know how to set the key in the proper format

[2019-05-18 02:36] amorenew commented on #94
@ammaratef45 I made a widget but after R&D I found a better solution by using the theme I can make a default text style with font family and font size for Text widget only
check this >> https://api.flutter.dev/flutter/material/TextTheme-class.html
body1 is for Text widgets
[code]
So should I use Widget or define the default values in TextTheme?
![Screenshot_1558146880](https://user-images.githubus

[2019-05-18 15:17] ammaratef45 commented on #94
@amorenew I prefer the solution you've found, let's go with it 😄

[2019-05-18 15:19] ammaratef45 commented on #97
@amorenew The api key can be found here: https://wts.zold.io/api

it has the following format `ammaratef45-xxxxxxxxx`

[2019-05-18 15:31] amorenew commented on #94
@0crat wait for resolution of #97

[2019-05-18 15:31] amorenew commented on #97
@ammaratef45 Yes it is working well thanks
But I got only 2 tests failed.
First:
[code]
Second:
[code]

[2019-05-18 15:33] 0crat commented on #94
@amorenew The impediment for [#94](https://github.com/ammaratef45/zold-flutter-client/issues/94) was registered successfully by @amorenew[/z](https://www.0crat.com/u/amorenew)

[2019-05-18 16:14] ammaratef45 commented on #97
@amorenew Thanks for reporting this

I should fix them

[2019-05-18 16:15] ammaratef45 commented on #94
@amorenew please don't wait for #97, It will not stop your work from being merged (tests will fail locally only)

[2019-05-18 22:37] amorenew commented on #94
@0crat continue

[2019-05-18 22:42] 0crat commented on #94
@amorenew @amorenew[/z](https://www.0crat.com/u/amorenew) continued working on job [#94](https://github.com/ammaratef45/zold-flutter-client/issues/94)

[2019-05-19 05:58] ammaratef45 commented on #94
@amorenew Good work.

[2019-05-19 05:58] #94 closed

[2019-05-19 06:15] 0crat commented on #94
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @amorenew[/z](https://www.0crat.com/u/amorenew), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-05-19 06:17] 0crat commented on #94
The job [#94](https://github.com/ammaratef45/zold-flutter-client/issues/94) is now out of scope

[2019-05-19 15:08] sereshqua commented on #94
@0crat quality good

[2019-05-19 15:15] 0crat commented on #94
Order was finished, quality is "good": +35 point(s) just awarded to @amorenew[/z](https://www.0crat.com/u/amorenew)

[2019-05-19 15:15] 0crat commented on #94
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-05-21 06:19] ammaratef45 commented on #93
@yegor256 please have a look.

[2019-05-21 07:08] yegor256 commented on #81
@ammaratef45 it's better to use transparent images ALWAYS

[2019-05-21 07:10] yegor256 commented on #93
@ammaratef45 looks much better! I will create new tickets now.

[2019-05-21 07:10] #93 closed

[2019-05-21 07:15] yegor256 opened #99 "UI Tweaks 2"
Make the following UI changes:

  * Never use background colors. NEVER. Only change the foreground color.

  * The font (size) you have in the login page is not the same as in all other pages. Make sure the font you use there (in the login page) is the one you use everywhere else.

  * The button style you have in the login page (blue) is not the same as the style you use in the "pay" page. Make s

[2019-05-21 07:15] 0crat commented on #99
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-05-21 07:15] 0crat commented on #99
@yegor256[/z](https://www.0crat.com/u/yegor256) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CGC59KB9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-05-21 07:20] 0crat commented on #99
Job [#99](https://github.com/ammaratef45/zold-flutter-client/issues/99) is now in scope, role is `DEV`

[2019-05-21 07:27] 0crat commented on #99
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-05-21 07:27] 0crat commented on #93
Job `gh:ammaratef45/zold-flutter-client#93` is not assigned, can't get performer

[2019-05-21 07:27] 0crat commented on #93
The job [#93](https://github.com/ammaratef45/zold-flutter-client/issues/93) is now out of scope

[2019-05-21 07:29] ammaratef45 opened #100 "Buttons refactory"
A puzzle for #99
We should use a custom button widget that has the default style and reuses it everywhere.

The task is to create a widget for the custom button and let it have a default style then replace all Buttons with it

[2019-05-21 07:30] ammaratef45 commented on #100
@amorenew do you want to take this?

[2019-05-21 07:30] 0crat commented on #100
Job [#100](https://github.com/ammaratef45/zold-flutter-client/issues/100) is now in scope, role is `DEV`

[2019-05-21 07:31] ammaratef45 opened #101 "Add some titles"
Puzzle for #99

Add a title to the "pay" page: "Send ZLD"

Add a title to the "invoice" page: "Create Invoice"

[2019-05-21 07:32] ammaratef45 commented on #101
@amorenew I can assign this to you if you would like to implement it

[2019-05-21 07:38] 0crat commented on #100
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-05-21 07:43] 0crat commented on #100
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#100](https://github.com/ammaratef45/zold-flutter-client/issues/100); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the j

[2019-05-21 08:11] 0crat commented on #97
The job [#97](https://github.com/ammaratef45/zold-flutter-client/issues/97) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/335092c1-8275-4e51-9ce1-ec97d83c4097); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-05-21 08:15] 0crat commented on #97
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-05-21 08:17] 0crat commented on #97
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amorenew[/z](https://www.0crat.com/u/amorenew)

[2019-05-22 02:20] amorenew commented on #100
@ammaratef45 Yes I could take it.
Thanks

[2019-05-22 02:27] amorenew commented on #101
@ammaratef45 yes assign it.

[2019-05-22 02:54] ammaratef45 commented on #101
@0crat assign @amorenew

[2019-05-22 02:54] ammaratef45 commented on #100
@0crat assign @amorenew

[2019-05-22 02:55] 0crat commented on #101
@ammaratef45 The job [#101](https://github.com/ammaratef45/zold-flutter-client/issues/101) assigned to @amorenew[/z](https://www.0crat.com/u/amorenew), here is [why](https://www.0crat.com/footprint/CGC59KB9B/f16bb573-1b3d-46ca-8ca6-d032692ca81d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www

[2019-05-22 02:57] 0crat commented on #100
@ammaratef45 The job [#100](https://github.com/ammaratef45/zold-flutter-client/issues/100) assigned to @amorenew[/z](https://www.0crat.com/u/amorenew), here is [why](https://www.0crat.com/footprint/CGC59KB9B/e0a5d68a-aa1c-47b4-994d-ec1da9509eea); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www

[2019-05-22 03:01] 0crat commented on #101
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-05-22 03:02] 0crat commented on #100
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-05-22 03:02] 0crat commented on #101
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-05-22 03:40] amorenew opened #102 "Full design by Adobe XD"
I wonder if we could make the app designed fully by Adobe XD then we implement it.
First, we could start by Login and Verification page then once we get approval on our design we go ahead on implementing it.
@ammaratef45 @yegor256
Could check my redesign of the Login page by Adobe XD?
If you like it then I will redesign all pages by Adobe XD.
![image](https://user-images.githubusercontent.com/2842

[2019-05-22 03:40] 0crat commented on #102
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-05-22 03:40] 0crat commented on #102
@amorenew[/z](https://www.0crat.com/u/amorenew) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CGC59KB9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-05-22 03:46] ammaratef45 commented on #102
@amorenew let's discuss this matter in Telegram and open tickets with the final approved design.
It's awesome that you know how to use Adobe XD 👍

[2019-05-22 06:01] yegor256 opened #103 "destroy the list of transactions when I log out"
I click Logout and then login with another phone. I see the same list of transactions. I believe you should destroy the list of transactions (and all other info) on logout.

[2019-05-22 06:01] 0crat commented on #103
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-05-22 06:01] 0crat commented on #103
@yegor256[/z](https://www.0crat.com/u/yegor256) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CGC59KB9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-05-22 06:02] 0crat commented on #103
Job [#103](https://github.com/ammaratef45/zold-flutter-client/issues/103) is now in scope, role is `DEV`

[2019-05-22 06:08] 0crat commented on #103
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-05-22 06:21] amorenew commented on #101
@ammaratef45 why 0crat did not assign it.. check assignees section

[2019-05-22 06:23] ammaratef45 commented on #101
@0crat status

[2019-05-22 06:24] 0crat commented on #101
@ammaratef45 This is what I know about this job in [CGC59KB9B](https://www.0crat.com/p/CGC59KB9B), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#101](https://github.com/ammaratef45/zold-flutter-client/issues/101) is [in scope](http://www.zerocracy.com/policy.html#14) for 3hr
  * The role is `DEV`
  * The job is assigned to @amorenew[/z](https://www.0crat.com/u/amorenew) for

[2019-05-22 06:24] ammaratef45 commented on #101
@amorenew You'll be able to see it in your [agenda](https://www.0crat.com/u/amorenew/agenda)

[2019-05-22 06:25] amorenew commented on #101
is it a bug I tried to filter issues by assignee but not working?
should we report it? @ammaratef45
I talk about github itself

[2019-05-22 06:33] ammaratef45 commented on #101
@amorenew your account isn't visible in the list of accounts I can assign the issue to,
I think zerocrat tried to assign you and failed.

I will search for information about this

[2019-05-22 06:42] #20 closed

[2019-05-22 07:08] 0crat commented on #81
The job [#81](https://github.com/ammaratef45/zold-flutter-client/issues/81) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/2f96b988-208d-467e-a4c5-b0ae25668c72); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-05-22 07:10] 0crat commented on #81
Job `gh:ammaratef45/zold-flutter-client#81` already assigned to @ammaratef45, can't assign to @ammaratef45

[2019-05-22 07:10] 0crat commented on #81
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-05-22 07:10] 0crat commented on #81
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-05-22 10:15] 0crat commented on #21
The job [#21](https://github.com/ammaratef45/zold-flutter-client/issues/21) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/91a4e8f0-ec1b-4185-b6cd-fec22804e9d0); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-05-22 10:17] 0crat commented on #21
Job `gh:ammaratef45/zold-flutter-client#21` already assigned to @ammaratef45, can't assign to @ammaratef45

[2019-05-22 10:22] 0crat commented on #21
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-05-22 10:22] 0crat commented on #21
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-05-22 10:24] 0crat commented on #21
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-05-22 11:14] #21 closed

[2019-05-22 11:27] #19 closed

[2019-05-22 11:37] 0crat commented on #21
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-05-22 11:41] 0crat commented on #21
The job [#21](https://github.com/ammaratef45/zold-flutter-client/issues/21) is now out of scope

[2019-05-22 11:43] 0crat commented on #21
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-05-23 06:01] yegor256 commented on #102
@amorenew @ammaratef45 I would suggest staying as close to Flutter defaults as possible. Don't change their fonts, their colors, their default layouts. This is how the app will look _consistent_.

[2019-05-23 06:12] amorenew commented on #102
@amorenew Flutter is not a design system by itself it just a CSS and styles.
So for having consistent, we should have a pdf design otherwise over the time consistency will get out of our hand.
There is an Egyptian group for studying Flutter I can invite them but without a pdf design "documentation" it will be hard to guide them.

[2019-05-23 09:08] ammaratef45 commented on #97
@amorenew can you tell me if tests are good now? what else you think we should have?

[2019-05-23 13:40] ammaratef45 opened #104 "More details"
Puzzle for #99

Add more details to the main screen with the list of transactions: 1) how many transactions in the wallet, 2) size of the wallet, 3) taxes (you can find this information in the main page of WTS)

[2019-05-23 13:45] 0crat commented on #104
Job [#104](https://github.com/ammaratef45/zold-flutter-client/issues/104) is now in scope, role is `DEV`

[2019-05-23 13:50] 0crat commented on #104
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-05-23 13:52] ammaratef45 commented on #102
@amorenew let's concentrate on finalizing the UI tweaks for now.

[2019-05-23 14:49] 0crat commented on #104
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#104](https://github.com/ammaratef45/zold-flutter-client/issues/104); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the j

[2019-05-24 02:37] amorenew commented on #97
@ammaratef45 Yes all tests passed
Thanks

[2019-05-24 02:37] #97 closed

[2019-05-24 02:59] 0crat commented on #97
The job [#97](https://github.com/ammaratef45/zold-flutter-client/issues/97) is now out of scope

[2019-05-24 03:01] 0crat commented on #97
Order was finished: +30 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-05-24 03:15] amorenew opened #105 "Adding Visual Studio Code configurations"
For easy debugging, I wonder if we could have Visual Studio Code configurations so the contributors who don't want to use terminal for running emulator or launching the app could easily use the debugging toolbar on VSC
Configuration should do:
1-When click  Start debugging from debug menu we should see a list of emulator devices
2-When once debugging started we could have a toolbar for reloading o

[2019-05-24 03:15] 0crat commented on #105
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-05-24 03:15] 0crat commented on #105
@amorenew[/z](https://www.0crat.com/u/amorenew) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CGC59KB9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-05-24 03:20] amorenew commented on #105
It will allow format on save so the commit will be with the formatted code.

[2019-05-24 04:01] amorenew opened #107 "App should work in debug mode even in emulator"
**Describe the bug**
The app showing a warning page while debugging

**To Reproduce**
Steps to reproduce the behavior:
1. Just open the app

**Expected behavior**
The app should work in debugging mode without warning page

**Additional context**
We could use this flag for debugging mode https://api.flutter.dev/flutter/foundation/kReleaseMode-constant.html

[2019-05-24 04:01] 0crat commented on #107
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-05-24 04:01] 0crat commented on #107
@amorenew[/z](https://www.0crat.com/u/amorenew) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CGC59KB9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-05-24 04:04] amorenew commented on #81
@ammaratef45  I saw the logo it has a black background and it looks different than the website logo.
Is this the required result?

[2019-05-24 04:06] 0crat commented on #107
Job [#107](https://github.com/ammaratef45/zold-flutter-client/issues/107) is now in scope, role is `DEV`

[2019-05-24 04:13] 0crat commented on #107
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amorenew[/z](https://www.0crat.com/u/amorenew)

[2019-05-24 06:47] amorenew commented on #102
Updates:
_____________________________________________________________
![iPhone X-XS – 1@2x](https://user-images.githubusercontent.com/2842459/58307955-7d5f2d00-7e00-11e9-8db2-94305c34dd76.png)
_____________________________________________________________
![iPhone X-XS – 2@2x](https://user-images.githubusercontent.com/2842459/58307956-7d5f2d00-7e00-11e9-990a-ec2f2e962df4.png)
_____________________

[2019-05-25 09:47] ammaratef45 commented on #81
@amorenew I doubt if it is the required result too.
/cc @yegor256

[2019-05-25 09:59] ammaratef45 commented on #105
@amorenew Thanks, terminal guys like me are too lazy to configure IDEs

[2019-05-25 09:59] ammaratef45 commented on #107
@amorenew Thanks

[2019-05-25 18:15] #105 closed

[2019-05-25 18:15] #107 closed

[2019-05-25 18:33] 0crat commented on #107
The job [#107](https://github.com/ammaratef45/zold-flutter-client/issues/107) is now out of scope

[2019-05-25 18:33] 0crat commented on #105
Job `gh:ammaratef45/zold-flutter-client#105` is not assigned, can't get performer

[2019-05-25 18:33] 0crat commented on #107
Job `gh:ammaratef45/zold-flutter-client#107` is not assigned, can't get performer

[2019-05-25 18:33] 0crat commented on #105
This job is not in scope

[2019-05-26 00:43] amorenew commented on #102
I will close this issue because I want the list of issues should be clean.
I will open an issue for every screen

[2019-05-26 00:43] #102 closed

[2019-05-26 00:44] amorenew commented on #101
@ammaratef45 should be closed as it is already merged

[2019-05-26 00:44] amorenew commented on #100
@ammaratef45 should be closed as it is already merged

[2019-05-26 00:57] amorenew opened #108 "Redesign Login page"
Redesign the Login page like the following design

The acceptance criteria:

- [x] 1. Use Text form field widget to show error on the invalid phone number otherwise, the user will get a wrong error message when the API gets called.
- [ ] 2. Use the general theme of the app.
- [ ] 3. Show a circular spinner instead of the send button in case of API is called
- [ ] 4. On Android fill mobile number a

[2019-05-26 00:57] 0crat commented on #108
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-05-26 00:57] 0crat commented on #108
@amorenew[/z](https://www.0crat.com/u/amorenew) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CGC59KB9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-05-26 00:59] 0crat commented on #102
Job `gh:ammaratef45/zold-flutter-client#102` is not assigned, can't get performer

[2019-05-26 00:59] 0crat commented on #102
This job is not in scope

[2019-05-26 03:13] ammaratef45 commented on #108
@amorenew do you want to implement the new design?

[2019-05-26 03:13] ammaratef45 commented on #100
@amorenew thanks

[2019-05-26 03:13] #100 closed

[2019-05-26 03:14] #101 closed

[2019-05-26 03:30] 0crat commented on #100
Job [#100](https://github.com/ammaratef45/zold-flutter-client/issues/100) is not in the agenda of @amorenew[/z](https://www.0crat.com/u/amorenew), can't retrieve data and time of add

[2019-05-26 03:30] 0crat commented on #101
Job [#101](https://github.com/ammaratef45/zold-flutter-client/issues/101) is not in the agenda of @amorenew[/z](https://www.0crat.com/u/amorenew), can't retrieve data and time of add

[2019-05-26 03:31] 0crat commented on #101
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @amorenew[/z](https://www.0crat.com/u/amorenew), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-05-26 03:31] 0crat commented on #101
Job [#101](https://github.com/ammaratef45/zold-flutter-client/issues/101) is not in the agenda of @amorenew[/z](https://www.0crat.com/u/amorenew), can't inspect

[2019-05-26 03:31] 0crat commented on #100
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @amorenew[/z](https://www.0crat.com/u/amorenew), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-05-26 03:31] 0crat commented on #100
Job [#100](https://github.com/ammaratef45/zold-flutter-client/issues/100) is not in the agenda of @amorenew[/z](https://www.0crat.com/u/amorenew), can't inspect

[2019-05-26 03:31] 0crat commented on #101
The job [#101](https://github.com/ammaratef45/zold-flutter-client/issues/101) is now out of scope

[2019-05-26 03:31] 0crat commented on #100
The job [#100](https://github.com/ammaratef45/zold-flutter-client/issues/100) is now out of scope

[2019-05-26 03:36] amorenew commented on #108
@ammaratef45 you can take it if you want

[2019-05-26 05:25] sereshqua commented on #101
@ammaratef45 please make sure that messages in a job always start with a name of a user they are addressed to; as in [policy](http://www.zerocracy.com/policy.html#30)

[2019-05-26 05:26] sereshqua commented on #100
@0crat quality good

[2019-05-26 05:33] 0crat commented on #100
Order was finished, quality is "good": +35 point(s) just awarded to @amorenew[/z](https://www.0crat.com/u/amorenew)

[2019-05-26 05:33] 0crat commented on #100
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-05-26 11:05] ammaratef45 commented on #101
@sereshqua you mean @amorenew?

[2019-05-26 17:09] sereshqua commented on #101
@ammaratef45 i am sorry, i was meaning to tag @amorenew

[2019-05-26 19:28] amorenew commented on #101
@sereshqua Ok sure I will remember that

[2019-05-27 04:35] sereshqua commented on #101
@0crat quality acceptable

[2019-05-27 04:43] 0crat commented on #101
Order was finished, quality is "acceptable": +30 point(s) just awarded to @amorenew[/z](https://www.0crat.com/u/amorenew)

[2019-05-27 04:43] 0crat commented on #101
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-05-27 06:29] 0crat commented on #99
The job [#99](https://github.com/ammaratef45/zold-flutter-client/issues/99) assigned to @amorenew[/z](https://www.0crat.com/u/amorenew), here is [why](https://www.0crat.com/footprint/CGC59KB9B/1d6f40a2-8871-4281-be25-18e9cd8777da); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2019-05-27 06:33] 0crat commented on #103
The job [#103](https://github.com/ammaratef45/zold-flutter-client/issues/103) assigned to @amorenew[/z](https://www.0crat.com/u/amorenew), here is [why](https://www.0crat.com/footprint/CGC59KB9B/eac8b395-801d-4925-8549-26ba44e86d73); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-05-27 06:34] ammaratef45 commented on #99
@yegor256

I've opened #104 for this

[2019-05-27 06:34] ammaratef45 commented on #103
@yegor256 should be fixed

[2019-05-27 06:47] 0crat commented on #104
The job [#104](https://github.com/ammaratef45/zold-flutter-client/issues/104) assigned to @amorenew[/z](https://www.0crat.com/u/amorenew), here is [why](https://www.0crat.com/footprint/CGC59KB9B/5afa8a19-4735-43ee-acee-6d63f2504451); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-05-27 07:49] 0crat commented on #81
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-05-27 13:58] 0crat commented on #108
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.47.3](https://github.com/zerocracy/farm): CID: [d7668c3e-5332-4b48-9b98-37c17b60ff42](https://www.0crat.com/footprint/CGC59KB9B/d7668c3e-5332-4b48-9b98-37c17b60ff42), Type: "Job milestoned"

[2019-05-28 11:27] yegor256 commented on #81
@ammaratef45 it's OK now

[2019-05-28 11:27] #81 closed

[2019-05-28 11:29] yegor256 commented on #99
@ammaratef45 what about page titles?

[2019-05-28 11:30] yegor256 opened #109 "side margin is too small"
We need to make it larger, at least twice as big as it is now. The content stays now too close to the borders of the screen. Make the margin bigger.

[2019-05-28 11:30] 0crat commented on #109
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-05-28 11:30] 0crat commented on #109
@yegor256[/z](https://www.0crat.com/u/yegor256) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CGC59KB9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-05-28 11:32] yegor256 opened #110 "wrong logo inside the app"
The logo _of_ the application and the logo you render _inside_ the application must be two different logos. The logo of the application is correct now, but the logo inside the app must be the one you had before.

[2019-05-28 11:32] 0crat commented on #110
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-05-28 11:32] 0crat commented on #110
@yegor256[/z](https://www.0crat.com/u/yegor256) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CGC59KB9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-05-28 11:33] ammaratef45 commented on #99
![unnamed](https://user-images.githubusercontent.com/13663221/58475025-208bab80-814d-11e9-912a-52f471d6ae8c.png)

@yegor256 can't see it like this?

[2019-05-28 11:33] yegor256 opened #111 "Get rid of texts inside the form fields"
Instead, make labels before each field. Just like it's done in this page: https://wts.zold.io/pay