[2019-05-28 11:33] 0crat commented on #111
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-05-28 11:33] 0crat commented on #111
@yegor256[/z](https://www.0crat.com/u/yegor256) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CGC59KB9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-05-28 11:34] yegor256 opened #112 "Make all buttons the same style"
Why "login" button and "pay" button look differently?

[2019-05-28 11:34] 0crat commented on #112
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-05-28 11:34] 0crat commented on #112
@yegor256[/z](https://www.0crat.com/u/yegor256) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CGC59KB9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-05-28 11:38] 0crat commented on #109
Job [#109](https://github.com/ammaratef45/zold-flutter-client/issues/109) is now in scope, role is `DEV`

[2019-05-28 11:40] 0crat commented on #111
Job [#111](https://github.com/ammaratef45/zold-flutter-client/issues/111) is now in scope, role is `DEV`

[2019-05-28 11:41] yegor256 commented on #103
@ammaratef45 thanks

[2019-05-28 11:41] #103 closed

[2019-06-01 06:42] 0crat commented on #103
@amorenew[/z](https://www.0crat.com/u/amorenew) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-06-01 06:42] 0crat commented on #99
@amorenew[/z](https://www.0crat.com/u/amorenew) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-06-01 07:40] 0crat commented on #104
@amorenew[/z](https://www.0crat.com/u/amorenew) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-06-01 11:20] ammaratef45 commented on #103
@0crat out

[2019-06-01 11:23] 0crat commented on #103
@ammaratef45 Job [#103](https://github.com/ammaratef45/zold-flutter-client/issues/103) is not in the agenda of @amorenew[/z](https://www.0crat.com/u/amorenew), can't inspect

[2019-06-01 11:23] 0crat commented on #103
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @amorenew[/z](https://www.0crat.com/u/amorenew), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-06-01 11:23] 0crat commented on #103
@ammaratef45 The job [#103](https://github.com/ammaratef45/zold-flutter-client/issues/103) is now out of scope

[2019-06-01 11:24] ammaratef45 commented on #99
@yegor256 @amorenew I will close this for now

[2019-06-01 11:24] #99 closed

[2019-06-01 11:24] ammaratef45 commented on #104
@amorenew are you willing to work on this?

[2019-06-01 11:26] sereshqua commented on #103
@0crat quality good

[2019-06-01 11:38] 0crat commented on #103
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-06-01 11:39] 0crat commented on #103
Order was finished, quality is "good": +35 point(s) just awarded to @amorenew[/z](https://www.0crat.com/u/amorenew)

[2019-06-01 11:41] 0crat commented on #109
The job [#109](https://github.com/ammaratef45/zold-flutter-client/issues/109) assigned to @amorenew[/z](https://www.0crat.com/u/amorenew), here is [why](https://www.0crat.com/footprint/CGC59KB9B/9377e6f1-ab33-45fb-9c5f-29cea1ee7152); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-06-01 11:46] 0crat commented on #99
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @amorenew[/z](https://www.0crat.com/u/amorenew), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-06-01 11:46] 0crat commented on #99
Job [#99](https://github.com/ammaratef45/zold-flutter-client/issues/99) is not in the agenda of @amorenew[/z](https://www.0crat.com/u/amorenew), can't inspect

[2019-06-01 11:46] 0crat commented on #99
The job [#99](https://github.com/ammaratef45/zold-flutter-client/issues/99) is now out of scope

[2019-06-01 11:47] 0crat commented on #112
The job [#112](https://github.com/ammaratef45/zold-flutter-client/issues/112) assigned to @amorenew[/z](https://www.0crat.com/u/amorenew), here is [why](https://www.0crat.com/footprint/CGC59KB9B/9e9a4ebd-92b7-496b-b684-82265a09e379); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-06-01 11:50] sereshqua commented on #99
@ammaratef45 do we consider this task NOT fully completed because of one NOT finished item in Yegor's list? Or would we have another small task to cover that one?

[2019-06-02 04:00] amorenew commented on #104
@ammaratef45 I am not familiar with The API yet I will keep working on the UI

[2019-06-03 06:11] 0crat commented on #111
The job [#111](https://github.com/ammaratef45/zold-flutter-client/issues/111) assigned to @nermeen78[/z](https://www.0crat.com/u/nermeen78), here is [why](https://www.0crat.com/footprint/CGC59KB9B/1d035895-31d3-4cc1-9124-7a61aa4cacb1); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2019-06-03 06:59] ammaratef45 commented on #99
@sereshqua I've added a new ticket for this point, see #104

[2019-06-03 07:00] ammaratef45 commented on #104
@0crat unassign

[2019-06-03 07:01] 0crat commented on #104
@ammaratef45 Can't understand "unassign", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `continue` Remove a job's impediment
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from

[2019-06-03 07:01] ammaratef45 commented on #104
@0crat resign

[2019-06-03 07:01] sereshqua commented on #99
@0crat quality good

[2019-06-03 07:02] 0crat commented on #104
@ammaratef45 The user @amorenew[/z](https://www.0crat.com/u/amorenew) resigned from [#104](https://github.com/ammaratef45/zold-flutter-client/issues/104), please stop working. Reason for job resignation: Order was cancelled

[2019-06-03 07:08] 0crat commented on #99
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-06-03 07:08] 0crat commented on #99
Order was finished, quality is "good": +35 point(s) just awarded to @amorenew[/z](https://www.0crat.com/u/amorenew)

[2019-06-03 07:11] 0crat commented on #110
The job [#110](https://github.com/ammaratef45/zold-flutter-client/issues/110) assigned to @amorenew[/z](https://www.0crat.com/u/amorenew), here is [why](https://www.0crat.com/footprint/CGC59KB9B/ac2fd8ae-ffbb-4ed8-b6fe-b17c4b808316); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-06-03 10:03] 0crat commented on #81
The job [#81](https://github.com/ammaratef45/zold-flutter-client/issues/81) is now out of scope

[2019-06-03 10:06] 0crat commented on #81
Order was finished: +30 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-06-04 00:55] amorenew opened #115 "We need to migrate to AndroidX"
Barcode scan library made a problem to me because it has a major release with AndroidX so I think we should consider updating all plugins to a major release which support AndroidX
Other than that if the plugin does not supports AndroidX we have to make a pull request or forking it.

[2019-06-04 00:55] 0crat commented on #115
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-06-04 00:56] 0crat commented on #115
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.47.5](https://github.com/zerocracy/farm): CID: [f171ff29-8aad-4978-aaf0-00b68ff3346e](https://www.0crat.com/footprint/CGC59KB9B/f171ff29-8aad-4978-aaf0-00b68ff3346e), Type: "Job milestoned"

[2019-06-04 10:27] ammaratef45 commented on #115
@amorenew That was on my mind, We should take care of this

[2019-06-04 10:27] 0crat commented on #115
Job [#115](https://github.com/ammaratef45/zold-flutter-client/issues/115) is now in scope, role is `DEV`

[2019-06-04 10:35] 0crat commented on #115
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amorenew[/z](https://www.0crat.com/u/amorenew)

[2019-06-06 11:39] 0crat commented on #109
@amorenew[/z](https://www.0crat.com/u/amorenew) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-06-06 13:55] 0crat commented on #112
@amorenew[/z](https://www.0crat.com/u/amorenew) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-06-06 22:06] 0crat commented on #115
The job [#115](https://github.com/ammaratef45/zold-flutter-client/issues/115) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/e27c88e4-1c61-41e9-ba9f-23972def1886); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocr

[2019-06-08 06:47] 0crat commented on #111
@nermeen78[/z](https://www.0crat.com/u/nermeen78) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-06-08 07:41] 0crat commented on #110
@amorenew[/z](https://www.0crat.com/u/amorenew) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-06-08 08:13] ammaratef45 commented on #108
@0crat assign @amorenew

[2019-06-08 08:20] 0crat commented on #108
@ammaratef45 The job [#108](https://github.com/ammaratef45/zold-flutter-client/issues/108) assigned to @amorenew[/z](https://www.0crat.com/u/amorenew), here is [why](https://www.0crat.com/footprint/CGC59KB9B/b786a4d1-1897-4615-9bd3-744a22a2209e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www

[2019-06-08 08:26] 0crat commented on #108
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-06-08 08:30] 0crat commented on #108
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-06-08 08:30] 0crat commented on #108
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amorenew[/z](https://www.0crat.com/u/amorenew)

[2019-06-08 08:42] 0crat commented on #104
The job [#104](https://github.com/ammaratef45/zold-flutter-client/issues/104) assigned to @nermeen78[/z](https://www.0crat.com/u/nermeen78), here is [why](https://www.0crat.com/footprint/CGC59KB9B/0611212d-6010-4404-90ae-939c19eef774); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2019-06-08 11:06] #108 closed

[2019-06-08 11:24] 0crat commented on #108
Job was finished in 2 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-06-08 11:25] 0crat commented on #108
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @amorenew[/z](https://www.0crat.com/u/amorenew), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-06-08 11:25] 0crat commented on #108
Job [#108](https://github.com/ammaratef45/zold-flutter-client/issues/108) is not in the agenda of @amorenew[/z](https://www.0crat.com/u/amorenew), can't inspect

[2019-06-08 11:25] 0crat commented on #108
The job [#108](https://github.com/ammaratef45/zold-flutter-client/issues/108) is now out of scope

[2019-06-08 14:54] ammaratef45 commented on #115
@amorenew please check if any build fails because of AndroidX now

[2019-06-09 05:14] sereshqua commented on #108
@ammaratef45 @amorenew please make sure that problem reporter and problem solver are two different persons

[2019-06-09 05:16] ammaratef45 commented on #108
@sereshqua I don't have enough DEVs for this rule, I will try to avoid that next time

[2019-06-09 05:16] sereshqua commented on #108
@0crat quality acceptable

[2019-06-09 05:23] 0crat commented on #108
Order was finished, quality is "acceptable": +35 point(s) just awarded to @amorenew[/z](https://www.0crat.com/u/amorenew)

[2019-06-09 05:24] 0crat commented on #108
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-06-09 06:52] amorenew commented on #115
@ammaratef45 no issue the project is building and run usefully

[2019-06-09 06:52] #115 closed

[2019-06-09 06:52] ammaratef45 opened #117 "Use Flutter-Mobile-Number-Plugin to try to get the number automatically"
[This](https://github.com/amorenew/Flutter-Mobile-Number-Plugin) project can allow getting the mobile number automatically in Android.

The task is to use it and try to fill the number field with the number of the SIM on the phone.

[2019-06-09 06:57] ammaratef45 commented on #109
@amorenew I think this should be closed as the new design is implemented, right?

[2019-06-09 06:57] 0crat commented on #117
Job [#117](https://github.com/ammaratef45/zold-flutter-client/issues/117) is now in scope, role is `DEV`

[2019-06-09 06:59] 0crat commented on #117
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.47.5](https://github.com/zerocracy/farm): CID: [b1bfcd8e-2a29-4787-a313-295902b6a6fd](https://www.0crat.com/footprint/CGC59KB9B/b1bfcd8e-2a29-4787-a313-295902b6a6fd), Type: "Job milestoned"

[2019-06-09 07:01] amorenew commented on #109
@ammaratef45 Yes I think

[2019-06-09 07:01] 0crat commented on #104
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.47.5](https://github.com/zerocracy/farm): CID: [b6cdf76e-8be4-43da-808b-612a61ebed80](https://www.0crat.com/footprint/CGC59KB9B/b6cdf76e-8be4-43da-808b-612a61ebed80), Type: "Job milestoned"

[2019-06-09 07:02] amorenew commented on #117
@ammaratef45 I want to take this issue

[2019-06-09 07:02] #109 closed

[2019-06-09 07:04] 0crat commented on #110
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.47.5](https://github.com/zerocracy/farm): CID: [64dd6019-82c9-4463-9e71-a74698b9930a](https://www.0crat.com/footprint/CGC59KB9B/64dd6019-82c9-4463-9e71-a74698b9930a), Type: "Job milestoned"

[2019-06-09 07:06] 0crat commented on #109
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.47.5](https://github.com/zerocracy/farm): CID: [efc1d254-6965-42a6-bf30-4e3abe75628b](https://www.0crat.com/footprint/CGC59KB9B/efc1d254-6965-42a6-bf30-4e3abe75628b), Type: "Job milestoned"

[2019-06-09 07:06] 0crat commented on #111
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.47.5](https://github.com/zerocracy/farm): CID: [df9d01dc-d842-40bf-a964-fe05bab6db35](https://www.0crat.com/footprint/CGC59KB9B/df9d01dc-d842-40bf-a964-fe05bab6db35), Type: "Job milestoned"

[2019-06-09 07:08] 0crat commented on #112
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.47.5](https://github.com/zerocracy/farm): CID: [f79cecc1-f1a3-4681-a591-fa37d78ee1e5](https://www.0crat.com/footprint/CGC59KB9B/f79cecc1-f1a3-4681-a591-fa37d78ee1e5), Type: "Job milestoned"

[2019-06-09 07:10] 0crat commented on #117
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-06-09 07:12] 0crat commented on #117
The job [#117](https://github.com/ammaratef45/zold-flutter-client/issues/117) assigned to @amorenew[/z](https://www.0crat.com/u/amorenew), here is [why](https://www.0crat.com/footprint/CGC59KB9B/2ae3fc83-36da-4d98-8b49-514ea0200312); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-06-09 07:18] 0crat commented on #117
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-06-09 07:18] 0crat commented on #115
Order was finished: +30 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-06-09 07:18] 0crat commented on #115
The job [#115](https://github.com/ammaratef45/zold-flutter-client/issues/115) is now out of scope

[2019-06-09 07:19] 0crat commented on #109
Job [#109](https://github.com/ammaratef45/zold-flutter-client/issues/109) is not in the agenda of @amorenew[/z](https://www.0crat.com/u/amorenew), can't inspect

[2019-06-09 07:19] 0crat commented on #109
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @amorenew[/z](https://www.0crat.com/u/amorenew), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-06-09 07:19] 0crat commented on #109
The job [#109](https://github.com/ammaratef45/zold-flutter-client/issues/109) is now out of scope

[2019-06-09 07:33] sereshqua commented on #109
@amorenew

quality is bad when the job is closed without a solution provided.

[2019-06-09 07:35] ammaratef45 commented on #109
@sereshqua you didn't mention 0crat

[2019-06-09 07:37] sereshqua commented on #109
@ammaratef45 i know, I just want to warn @amorenew about it before giving a verdict

[2019-06-09 07:39] ammaratef45 commented on #109
@sereshqua Ah, okay.

[2019-06-09 10:15] amorenew commented on #109
@sereshqua I confirm it is a duplicate issue
so How to tell 0crat that the issue is a duplicate?

[2019-06-09 10:19] ammaratef45 commented on #109
@amorenew It's my responsibility to get it out of scope :smile:
Sorry!
/cc @sereshqua

[2019-06-09 10:48] sereshqua commented on #109
@ammaratef45 @amorenew thanks fro your comments

[2019-06-09 10:49] sereshqua commented on #109
@0crat quality bad

[2019-06-09 10:50] 0crat commented on #109
Quality is low, no payment, see [§31](http://www.zerocracy.com/policy.html#31)

[2019-06-09 10:56] 0crat commented on #109
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-06-09 12:32] ammaratef45 opened #118 "Redesign home page"
Make a new design in Adobe XD for the home page

[2019-06-09 12:32] ammaratef45 opened #119 "Redesign invoice page"
Make a new design in Adobe XD for the invoice page

[2019-06-09 12:32] ammaratef45 opened #120 "Redesign pay page"
Make a new design in Adobe XD for the pay page

[2019-06-09 12:32] 0crat commented on #118
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.47.5](https://github.com/zerocracy/farm): CID: [d448c958-1167-4723-b057-0181a04e1a86](https://www.0crat.com/footprint/CGC59KB9B/d448c958-1167-4723-b057-0181a04e1a86), Type: "Job milestoned"

[2019-06-09 12:32] 0crat commented on #119
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.47.5](https://github.com/zerocracy/farm): CID: [0e2ee071-841b-4519-994f-273c23bb3686](https://www.0crat.com/footprint/CGC59KB9B/0e2ee071-841b-4519-994f-273c23bb3686), Type: "Job milestoned"

[2019-06-09 12:33] 0crat commented on #120
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.47.5](https://github.com/zerocracy/farm): CID: [41f48866-825e-4a0e-8016-aba7c2a7ed0c](https://www.0crat.com/footprint/CGC59KB9B/41f48866-825e-4a0e-8016-aba7c2a7ed0c), Type: "Job milestoned"

[2019-06-09 12:38] ammaratef45 commented on #112
@yegor256 @amorenew This is deprecated because of the redesign now

[2019-06-09 12:38] ammaratef45 commented on #112
@0crat resign

[2019-06-09 12:43] 0crat commented on #112
@ammaratef45 The user @amorenew[/z](https://www.0crat.com/u/amorenew) resigned from [#112](https://github.com/ammaratef45/zold-flutter-client/issues/112), please stop working. Reason for job resignation: Order was cancelled

[2019-06-09 12:47] ammaratef45 commented on #112
@0crat out

[2019-06-09 12:48] 0crat commented on #112
@ammaratef45 Job `gh:ammaratef45/zold-flutter-client#112` is not assigned, can't get performer

[2019-06-09 12:48] 0crat commented on #112
@ammaratef45 The job [#112](https://github.com/ammaratef45/zold-flutter-client/issues/112) is now out of scope

[2019-06-09 12:48] 0crat commented on #112
@ammaratef45 @ammaratef45[/z](https://www.0crat.com/u/ammaratef45) resigned from [#112](https://github.com/ammaratef45/zold-flutter-client/issues/112), since the job is not in scope anymore

[2019-06-09 12:48] 0crat commented on #112
The job [#112](https://github.com/ammaratef45/zold-flutter-client/issues/112) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/9501f2e0-461d-4a2d-a7fe-c0f59a41efe0); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocr

[2019-06-09 12:49] ammaratef45 commented on #112
@0crat status

[2019-06-09 12:50] 0crat commented on #112
@ammaratef45 This is what I know about this job in [CGC59KB9B](https://www.0crat.com/p/CGC59KB9B), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#112](https://github.com/ammaratef45/zold-flutter-client/issues/112) is not in scope
  * These users are banned and won't be assigned:
    * @ammaratef45[/z](https://www.0crat.com/u/ammaratef45): User was resigned from the ticket
  *

[2019-06-09 12:52] #112 closed

[2019-06-09 13:09] 0crat commented on #112
Job `gh:ammaratef45/zold-flutter-client#112` is not assigned, can't get performer

[2019-06-09 13:09] 0crat commented on #112
This job is not in scope

[2019-06-10 11:43] ammaratef45 opened #121 "[BUG] local_auth build fails for android"
When I try to build for Android, I get the following:

import android.support.v4.hardware.fingerprint.FingerprintManagerCompat;

[2019-06-10 11:46] 0crat commented on #121
The job [#121](https://github.com/ammaratef45/zold-flutter-client/issues/121) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/3d5c3d23-bc7c-4144-93ca-30251ac2137b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocr

[2019-06-10 11:47] 0crat commented on #121
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.47.5](https://github.com/zerocracy/farm): CID: [cb68ff3e-3684-4f92-a5d0-988d26c06600](https://www.0crat.com/footprint/CGC59KB9B/cb68ff3e-3684-4f92-a5d0-988d26c06600), Type: "Job milestoned"

[2019-06-10 11:51] 0crat commented on #121
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.47.5](https://github.com/zerocracy/farm): CID: [430297e1-95d5-431a-b9ab-85b27c92fcda](https://www.0crat.com/footprint/CGC59KB9B/430297e1-95d5-431a-b9ab-85b27c92fcda), Type: "Transfer shares"

[2019-06-10 11:52] 0crat commented on #121
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-06-10 11:52] 0crat commented on #121
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-06-10 11:53] 0crat commented on #121
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-06-10 12:30] #121 closed

[2019-06-10 12:48] 0crat commented on #121
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-06-10 12:55] 0crat commented on #121
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.47.5](https://github.com/zerocracy/farm): CID: [ccef1039-9fdc-46c2-a4c3-aab01407c603](https://www.0crat.com/footprint/CGC59KB9B/ccef1039-9fdc-46c2-a4c3-aab01407c603), Type: "Transfer shares"

[2019-06-10 12:55] 0crat commented on #121
The job [#121](https://github.com/ammaratef45/zold-flutter-client/issues/121) is now out of scope

[2019-06-10 12:55] 0crat commented on #121
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-06-13 01:34] Nermeen78 commented on #111
@0crat wait for merge and review

[2019-06-13 01:35] 0crat commented on #111
@Nermeen78 The impediment for [#111](https://github.com/ammaratef45/zold-flutter-client/issues/111) was registered successfully by @nermeen78[/z](https://www.0crat.com/u/nermeen78)

[2019-06-13 06:32] #111 closed

[2019-06-13 06:50] 0crat commented on #111
Job [#111](https://github.com/ammaratef45/zold-flutter-client/issues/111) is not in the agenda of @nermeen78[/z](https://www.0crat.com/u/nermeen78), can't inspect

[2019-06-13 06:50] 0crat commented on #111
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @nermeen78[/z](https://www.0crat.com/u/nermeen78), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-06-13 06:52] 0crat commented on #111
The job [#111](https://github.com/ammaratef45/zold-flutter-client/issues/111) is now out of scope

[2019-06-13 09:51] 0crat commented on #104
@nermeen78[/z](https://www.0crat.com/u/nermeen78) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-06-13 09:59] ammaratef45 commented on #104
@Nermeen78 I can assign myself here if you don't have enough time for it.
No push on you, I'm just offering help.

[2019-06-13 12:26] ammaratef45 opened #122 "[BUG] App crashes in 64 bits phones"
In 64bit arc mobiles (like Huawei P20 Pro (HWCLT)), app crashes with the following stack trace

  at java.lang.Runtime.loadLibrary0 (Runtime.java:1012)
  at java.lang.System.loadLibrary (System.java:1672)
  at io.flutter.view.FlutterMain.startInitialization (FlutterMain.java:164)
  at io.flutter.view.FlutterMain.startInitialization (FlutterMain.java:140)
  at io.flutter.app.FlutterApplication.onCr

[2019-06-13 12:27] 0crat commented on #122
Job [#122](https://github.com/ammaratef45/zold-flutter-client/issues/122) is now in scope, role is `DEV`

[2019-06-13 12:27] 0crat commented on #122
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.47.5](https://github.com/zerocracy/farm): CID: [f4334a45-cee7-4a9e-a436-e419f359f69b](https://www.0crat.com/footprint/CGC59KB9B/f4334a45-cee7-4a9e-a436-e419f359f69b), Type: "Job milestoned"

[2019-06-13 12:29] 0crat commented on #122
Job `gh:ammaratef45/zold-flutter-client#122` already assigned to @ammaratef45, can't assign to @ammaratef45

[2019-06-13 12:34] 0crat commented on #122
The job [#122](https://github.com/ammaratef45/zold-flutter-client/issues/122) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/89a766f3-f1c6-409c-a91a-8eeb844b0618); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocr

[2019-06-13 12:34] 0crat commented on #122
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.47.5](https://github.com/zerocracy/farm): CID: [50b7a60a-0249-470c-a0ea-fdd8917b065a](https://www.0crat.com/footprint/CGC59KB9B/50b7a60a-0249-470c-a0ea-fdd8917b065a), Type: "Transfer shares"

[2019-06-13 12:34] 0crat commented on #122
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-06-13 12:34] 0crat commented on #122
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-06-13 12:34] 0crat commented on #122
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-06-13 13:23] ammaratef45 commented on #122
@emilianodellacasa
You can download the app [from here](https://mandrillapp.com/track/click/31095621/api.codemagic.io?p=eyJzIjoiWFU4WUJSOVB5SXd5VUpieVN6cjktaTRETWRRIiwidiI6MSwicCI6IntcInVcIjozMTA5NTYyMSxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL2FwaS5jb2RlbWFnaWMuaW9cXFwvYXJ0aWZhY3RzXFxcL2M5ZTJmNTNiLTRmYTctNDE5Zi05NGY1LTk2OTljMTk0OTQ2NlxcXC81Mjc2Y2FhZC1iY2YzLTQ1NzgtOTBmNy01YTM5OTM2NmZlZjNcXFwvYXBw

[2019-06-13 13:30] emilianodellacasa commented on #122
@ammaratef45 Working perfectly, thanks a lot!

[2019-06-13 13:31] #122 closed

[2019-06-13 13:48] 0crat commented on #122
Job was finished in 1 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-06-13 13:53] 0crat commented on #122
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.47.5](https://github.com/zerocracy/farm): CID: [1eab3746-6eaf-4378-93fe-bf515575c6be](https://www.0crat.com/footprint/CGC59KB9B/1eab3746-6eaf-4378-93fe-bf515575c6be), Type: "Transfer shares"

[2019-06-13 13:53] 0crat commented on #122
The job [#122](https://github.com/ammaratef45/zold-flutter-client/issues/122) is now out of scope

[2019-06-13 13:55] 0crat commented on #122
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-06-13 19:12] Nermeen78 commented on #104
@ammaratef45 please do this

[2019-06-13 20:51] sereshqua commented on #111
@Nermeen78 please make sure, that ticket has references to all pull requests (provide by you, not code reviewer) where the problem was actually fixed

[2019-06-14 07:41] 0crat commented on #117
@amorenew[/z](https://www.0crat.com/u/amorenew) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-06-14 09:42] amorenew commented on #117
@ammaratef45 I resolved this issue

[2019-06-14 20:57] 0crat commented on #104
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) I see that you unassigned this issue; the order is still assigned to @nermeen78[/z](https://www.0crat.com/u/nermeen78) though; to cancel the order use `refuse`, as in [§6](http://www.zerocracy.com/policy.html#6)

[2019-06-14 20:57] 0crat commented on #104
The job [#104](https://github.com/ammaratef45/zold-flutter-client/issues/104) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/07936a54-97bc-4757-a9a9-d638090dd447); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocr

[2019-06-14 20:58] 0crat commented on #104
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-06-14 20:58] 0crat commented on #104
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-06-14 20:58] ammaratef45 commented on #117
@amorenew Thanks, It's under review now, put the issue on the wait

[2019-06-15 08:59] sereshqua commented on #111
@Nermeen78 ping

[2019-06-15 11:13] Nermeen78 commented on #111
@sereshqua  Ok I will make sure to add references in the ticket for its related pull request but this issue was already closed.

[2019-06-15 11:14] sereshqua commented on #111
@Nermeen78 i am not saying about this particular, i just warn you to avoid problem in future :)

[2019-06-15 11:15] sereshqua commented on #111
@0crat quality acceptable

[2019-06-15 11:16] Nermeen78 commented on #111
@sereshqua thanks :)

[2019-06-15 11:19] 0crat commented on #111
@sereshqua There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.47.5](https://github.com/zerocracy/farm): CID: [fb095154-b0f1-4362-b43d-0e7ea4f06d3d](https://www.0crat.com/footprint/CGC59KB9B/fb095154-b0f1-4362-b43d-0e7ea4f06d3d), Type: "Transfer shares"

[2019-06-15 11:19] 0crat commented on #111
@sereshqua There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.47.5](https://github.com/zerocracy/farm): CID: [53d71d48-3677-41ae-ba81-0dbe538ed481](https://www.0crat.com/footprint/CGC59KB9B/53d71d48-3677-41ae-ba81-0dbe538ed481), Type: "Transfer shares"

[2019-06-15 11:21] 0crat commented on #111
Order was finished, quality is "acceptable": +30 point(s) just awarded to @nermeen78[/z](https://www.0crat.com/u/nermeen78)

[2019-06-15 11:21] 0crat commented on #111
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-06-17 07:48] ammaratef45 commented on #104
@0crat wait for response on zold-io/wts.zold.io#264

[2019-06-17 07:49] 0crat commented on #104
@ammaratef45 The impediment for [#104](https://github.com/ammaratef45/zold-flutter-client/issues/104) was registered successfully by @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-06-17 12:37] ammaratef45 commented on #110
@amorenew should I resign you here?

[2019-06-18 05:10] amorenew commented on #110
@ammaratef45 Yes

[2019-06-18 06:45] 0crat commented on #110
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) I see that you unassigned this issue; the order is still assigned to @amorenew[/z](https://www.0crat.com/u/amorenew) though; to cancel the order use `refuse`, as in [§6](http://www.zerocracy.com/policy.html#6)

[2019-06-18 06:47] 0crat commented on #110
The job [#110](https://github.com/ammaratef45/zold-flutter-client/issues/110) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/fa3c8258-3086-4e8e-8b1d-2dcd4e0af8cc); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocr

[2019-06-18 06:50] 0crat commented on #110
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-06-18 09:21] #110 closed

[2019-06-18 09:21] ammaratef45 commented on #117
@amorenew Thanks

[2019-06-18 09:21] #117 closed

[2019-06-18 09:55] 0crat commented on #110
Job was finished in 2 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-06-18 09:55] 0crat commented on #117
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @amorenew[/z](https://www.0crat.com/u/amorenew), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-06-18 09:55] #104 closed

[2019-06-18 10:01] 0crat commented on #117
The job [#117](https://github.com/ammaratef45/zold-flutter-client/issues/117) is now out of scope

[2019-06-18 10:03] 0crat commented on #110
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.47.6](https://github.com/zerocracy/farm): CID: [5144f4ae-c4e6-4e77-ac4b-7496df65b8dd](https://www.0crat.com/footprint/CGC59KB9B/5144f4ae-c4e6-4e77-ac4b-7496df65b8dd), Type: "Transfer shares"

[2019-06-18 10:03] 0crat commented on #110
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-06-18 10:03] 0crat commented on #110
The job [#110](https://github.com/ammaratef45/zold-flutter-client/issues/110) is now out of scope

[2019-06-18 10:16] 0crat commented on #104
The job [#104](https://github.com/ammaratef45/zold-flutter-client/issues/104) is now out of scope

[2019-06-18 10:16] 0crat commented on #104
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.47.6](https://github.com/zerocracy/farm): CID: [4ba68c5f-a105-41c4-aef1-5f22b137d466](https://www.0crat.com/footprint/CGC59KB9B/4ba68c5f-a105-41c4-aef1-5f22b137d466), Type: "Transfer shares"

[2019-06-18 10:18] 0crat commented on #104
Order was finished: +30 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-06-18 10:30] 0crat commented on #89
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.47.6](https://github.com/zerocracy/farm): CID: [fc52291e-d6f4-4e5e-a737-7351c7d6c15a](https://www.0crat.com/footprint/CGC59KB9B/fc52291e-d6f4-4e5e-a737-7351c7d6c15a), Type: "Job milestoned"

[2019-06-18 10:30] sereshqua commented on #117
@0crat quality good

[2019-06-18 10:32] 0crat commented on #118
The job [#118](https://github.com/ammaratef45/zold-flutter-client/issues/118) assigned to @amorenew[/z](https://www.0crat.com/u/amorenew), here is [why](https://www.0crat.com/footprint/CGC59KB9B/318f0588-70c7-45b0-924b-34bb7613ffe5); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-06-18 10:38] 0crat commented on #118
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.47.6](https://github.com/zerocracy/farm): CID: [382af25a-38e7-456b-a9d8-c8e5eef5ae0c](https://www.0crat.com/footprint/CGC59KB9B/382af25a-38e7-456b-a9d8-c8e5eef5ae0c), Type: "Transfer shares"

[2019-06-18 10:39] 0crat commented on #118
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-06-18 10:39] 0crat commented on #118
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-06-18 10:44] 0crat commented on #117
@sereshqua There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.47.6](https://github.com/zerocracy/farm): CID: [6540769e-38f8-4980-984a-8dec207d9080](https://www.0crat.com/footprint/CGC59KB9B/6540769e-38f8-4980-984a-8dec207d9080), Type: "Transfer shares"

[2019-06-18 10:45] 0crat commented on #117
Order was finished, quality is "good": +35 point(s) just awarded to @amorenew[/z](https://www.0crat.com/u/amorenew)

[2019-06-18 10:45] 0crat commented on #117
@sereshqua There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.47.6](https://github.com/zerocracy/farm): CID: [afb01b61-58aa-4a9a-8a32-78ff70cf1fc3](https://www.0crat.com/footprint/CGC59KB9B/afb01b61-58aa-4a9a-8a32-78ff70cf1fc3), Type: "Transfer shares"

[2019-06-18 10:45] 0crat commented on #117
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-06-23 10:42] 0crat commented on #118
@amorenew[/z](https://www.0crat.com/u/amorenew) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-06-24 05:48] amorenew commented on #118
@0crat \wait

[2019-06-24 05:49] 0crat commented on #118
@amorenew Can't understand "\wait", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `continue` Remove a job's impediment
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from this

[2019-06-24 05:50] amorenew commented on #118
@0crat wait

[2019-06-24 05:51] 0crat commented on #118
@amorenew The impediment for [#118](https://github.com/ammaratef45/zold-flutter-client/issues/118) was registered successfully by @amorenew[/z](https://www.0crat.com/u/amorenew)

[2019-07-07 10:51] amorenew commented on #119
@ammaratef45 check the new invoice if you have any notes

![iPhone X-XS – 5](https://user-images.githubusercontent.com/2842459/60767272-a3960f00-a0c6-11e9-9d6b-7b8c000158af.png)

[2019-07-07 10:54] ammaratef45 commented on #119
@amorenew Great, Thanks
please follow the discussion on the telegram group

[2019-07-07 11:00] 0crat commented on #119
The job [#119](https://github.com/ammaratef45/zold-flutter-client/issues/119) assigned to @amorenew[/z](https://www.0crat.com/u/amorenew), here is [why](https://www.0crat.com/footprint/CGC59KB9B/40b1cae6-9280-4c12-ac4a-6fdd136b832d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-07-07 11:02] 0crat commented on #120
The job [#120](https://github.com/ammaratef45/zold-flutter-client/issues/120) assigned to @amorenew[/z](https://www.0crat.com/u/amorenew), here is [why](https://www.0crat.com/footprint/CGC59KB9B/812d741a-84c6-4a9a-920f-4a482ebfc134); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-07-07 11:04] 0crat commented on #119
Job `gh:ammaratef45/zold-flutter-client#119` already assigned to @amorenew, can't assign to @amorenew

[2019-07-07 11:04] 0crat commented on #119
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.48](https://github.com/zerocracy/farm): CID: [ac9eaeaf-65a7-4efc-b2ca-0fcafcec3294](https://www.0crat.com/footprint/CGC59KB9B/ac9eaeaf-65a7-4efc-b2ca-0fcafcec3294), Type: "Transfer shares"

[2019-07-07 11:04] 0crat commented on #120
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-07-07 11:04] 0crat commented on #119
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-07-07 11:04] 0crat commented on #119
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-07-07 11:05] 0crat commented on #120
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-07-07 11:05] 0crat commented on #120
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.48](https://github.com/zerocracy/farm): CID: [839cf3d6-2e02-4ca9-b451-f6d03a533542](https://www.0crat.com/footprint/CGC59KB9B/839cf3d6-2e02-4ca9-b451-f6d03a533542), Type: "Transfer shares"

[2019-07-08 06:21] ammaratef45 commented on #119
@amorenew The design is approved (I'll implement it), thanks

[2019-07-08 06:21] #119 closed

[2019-07-08 06:22] ammaratef45 opened #124 "Implement new invoice design"
Implement the design from #119
Edits on the design:
1- remove dots from the hint text.
2- change text boxes to match the app theme

[2019-07-08 06:27] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.48](https://github.com/zerocracy/farm): CID: [ea60a91c-1b62-4f60-b09a-e952bc97101b](https://www.0crat.com/footprint/CGC59KB9B/ea60a91c-1b62-4f60-b09a-e952bc97101b), Type: "Job milestoned"

[2019-07-08 06:32] 0crat commented on #124
The job [#124](https://github.com/ammaratef45/zold-flutter-client/issues/124) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/b3350668-c192-4287-8e02-3a9d0744363f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocr

[2019-07-08 06:38] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.48](https://github.com/zerocracy/farm): CID: [b28c7ade-6b54-45ec-bbed-25ac6fb486ed](https://www.0crat.com/footprint/CGC59KB9B/b28c7ade-6b54-45ec-bbed-25ac6fb486ed), Type: "Transfer shares"

[2019-07-08 06:38] 0crat commented on #124
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-07-08 06:38] 0crat commented on #124
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-07-08 06:40] 0crat commented on #124
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-07-08 06:41] 0crat commented on #119
Job was finished in 19 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-07-08 06:46] 0crat commented on #119
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @amorenew[/z](https://www.0crat.com/u/amorenew), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-07-08 06:46] 0crat commented on #119
The job [#119](https://github.com/ammaratef45/zold-flutter-client/issues/119) is now out of scope

[2019-07-08 06:46] 0crat commented on #119
Job [#119](https://github.com/ammaratef45/zold-flutter-client/issues/119) is not in the agenda of @amorenew[/z](https://www.0crat.com/u/amorenew), can't inspect

[2019-07-08 07:01] #124 closed

[2019-07-08 07:02] ammaratef45 opened #125 "Implement new homepage design"
Implement the design from #118 once submitted by @amorenew

[2019-07-08 07:07] 0crat commented on #125
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.48](https://github.com/zerocracy/farm): CID: [a46c94d8-6fdd-4c36-acc5-000759d997a1](https://www.0crat.com/footprint/CGC59KB9B/a46c94d8-6fdd-4c36-acc5-000759d997a1), Type: "Job milestoned"

[2019-07-08 07:10] 0crat commented on #125
The job [#125](https://github.com/ammaratef45/zold-flutter-client/issues/125) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/5b2f932d-c67f-462e-b49d-f2da87fc0221); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocr

[2019-07-08 07:12] 0crat commented on #125
Job `gh:ammaratef45/zold-flutter-client#125` already assigned to @ammaratef45, can't assign to @ammaratef45

[2019-07-08 07:16] 0crat commented on #125
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-07-08 07:18] 0crat commented on #125
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-07-08 07:18] 0crat commented on #125
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.48](https://github.com/zerocracy/farm): CID: [8c30058f-0984-478c-983f-8e16c3cc80e8](https://www.0crat.com/footprint/CGC59KB9B/8c30058f-0984-478c-983f-8e16c3cc80e8), Type: "Transfer shares"

[2019-07-08 07:18] 0crat commented on #125
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-07-08 07:20] 0crat commented on #124
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-07-08 07:25] 0crat commented on #124
The job [#124](https://github.com/ammaratef45/zold-flutter-client/issues/124) is now out of scope

[2019-07-08 07:25] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.48](https://github.com/zerocracy/farm): CID: [413153af-f47d-4eb1-a4d2-e4549f4be7ba](https://www.0crat.com/footprint/CGC59KB9B/413153af-f47d-4eb1-a4d2-e4549f4be7ba), Type: "Transfer shares"

[2019-07-08 07:26] 0crat commented on #124
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-07-08 09:02] sereshqua commented on #119
@0crat quality good

[2019-07-08 09:07] 0crat commented on #119
@sereshqua There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.48](https://github.com/zerocracy/farm): CID: [45e805ba-aa12-44f6-93ae-bdb4ceaebdfe](https://www.0crat.com/footprint/CGC59KB9B/45e805ba-aa12-44f6-93ae-bdb4ceaebdfe), Type: "Transfer shares"

[2019-07-08 09:09] 0crat commented on #119
@sereshqua There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.48](https://github.com/zerocracy/farm): CID: [540a0c88-2491-49e5-837f-e54a01628f38](https://www.0crat.com/footprint/CGC59KB9B/540a0c88-2491-49e5-837f-e54a01628f38), Type: "Transfer shares"

[2019-07-08 09:09] 0crat commented on #119
Order was finished, quality is "good": +40 point(s) just awarded to @amorenew[/z](https://www.0crat.com/u/amorenew)

[2019-07-08 09:09] 0crat commented on #119
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-07-09 05:01] amorenew commented on #125
@ammaratef45 the redesign and guideline
![Design Guidelines@3x](https://user-images.githubusercontent.com/2842459/60860566-2da9b900-a228-11e9-99fa-4179f6d7c229.png)

![Dashboard@3x](https://user-images.githubusercontent.com/2842459/60860550-166acb80-a228-11e9-90f2-16f7dee96ebb.png)

[2019-07-09 05:05] amorenew commented on #120
@ammaratef45 Payment design

![Design Guidelines@3x](https://user-images.githubusercontent.com/2842459/60860685-ae68b500-a228-11e9-8e08-f0162f753943.png)
![Payment@3x](https://user-images.githubusercontent.com/2842459/60860686-ae68b500-a228-11e9-945b-8438309f139c.png)

[2019-07-09 05:06] amorenew commented on #118
New design
![Design Guidelines@3x](https://user-images.githubusercontent.com/2842459/60860711-ccceb080-a228-11e9-8cbf-85c461dcce41.png)

![Dashboard@3x](https://user-images.githubusercontent.com/2842459/60860710-ccceb080-a228-11e9-94ee-cb57fde5dc7c.png)

[2019-07-09 06:04] ammaratef45 commented on #118
@amorenew Thanks

[2019-07-09 06:04] #118 closed

[2019-07-09 06:05] ammaratef45 commented on #120
@amorenew thanks

[2019-07-09 06:05] #120 closed

[2019-07-09 06:22] 0crat commented on #120
Job was finished in 43 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-07-09 06:22] 0crat commented on #118
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @amorenew[/z](https://www.0crat.com/u/amorenew), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-07-09 06:22] 0crat commented on #118
The job [#118](https://github.com/ammaratef45/zold-flutter-client/issues/118) is now out of scope

[2019-07-09 06:22] 0crat commented on #120
The job [#120](https://github.com/ammaratef45/zold-flutter-client/issues/120) is now out of scope

[2019-07-09 06:22] 0crat commented on #118
Job [#118](https://github.com/ammaratef45/zold-flutter-client/issues/118) is not in the agenda of @amorenew[/z](https://www.0crat.com/u/amorenew), can't inspect

[2019-07-09 06:22] 0crat commented on #120
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @amorenew[/z](https://www.0crat.com/u/amorenew), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-07-09 06:22] 0crat commented on #120
Job [#120](https://github.com/ammaratef45/zold-flutter-client/issues/120) is not in the agenda of @amorenew[/z](https://www.0crat.com/u/amorenew), can't inspect

[2019-07-09 08:08] sereshqua commented on #118
@amorenew please make sure you always start your messages with the name of the user they are addressed to, [see](https://github.com/ammaratef45/zold-flutter-client/issues/118#issuecomment-509489767)

[2019-07-09 08:08] sereshqua commented on #120
@0crat quality good

[2019-07-09 08:15] 0crat commented on #120
@sereshqua There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.48](https://github.com/zerocracy/farm): CID: [28301649-fc08-40e2-8507-1e8d742dfc69](https://www.0crat.com/footprint/CGC59KB9B/28301649-fc08-40e2-8507-1e8d742dfc69), Type: "Transfer shares"

[2019-07-09 08:15] 0crat commented on #120
@sereshqua There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.48](https://github.com/zerocracy/farm): CID: [d4aa2a02-6579-4e01-860a-7e9c19c72667](https://www.0crat.com/footprint/CGC59KB9B/d4aa2a02-6579-4e01-860a-7e9c19c72667), Type: "Transfer shares"

[2019-07-09 08:16] 0crat commented on #120
Order was finished, quality is "good": +40 point(s) just awarded to @amorenew[/z](https://www.0crat.com/u/amorenew)

[2019-07-09 08:16] 0crat commented on #120
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-07-09 10:30] amorenew commented on #118
@sereshqua Ok sure

[2019-07-09 12:37] sereshqua commented on #118
@0crat quality acceptable

[2019-07-09 12:48] 0crat commented on #118
@sereshqua There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.48](https://github.com/zerocracy/farm): CID: [23658142-594c-4c4b-bcfe-2984f59c00f1](https://www.0crat.com/footprint/CGC59KB9B/23658142-594c-4c4b-bcfe-2984f59c00f1), Type: "Transfer shares"

[2019-07-09 12:49] 0crat commented on #118
@sereshqua There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.48](https://github.com/zerocracy/farm): CID: [1e5411f5-0355-4085-a76c-7f4f2fbb98f5](https://www.0crat.com/footprint/CGC59KB9B/1e5411f5-0355-4085-a76c-7f4f2fbb98f5), Type: "Transfer shares"

[2019-07-09 12:49] 0crat commented on #118
Order was finished, quality is "acceptable": +30 point(s) just awarded to @amorenew[/z](https://www.0crat.com/u/amorenew)

[2019-07-09 12:49] 0crat commented on #118
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-07-11 07:16] ammaratef45 opened #126 "Implement the settings page"
Implement the design made by @amorenew
Consider changing the icons

![photo_٢٠١٩-٠٧-٠٩_٠٦-٤٢-٠٣](https://user-images.githubusercontent.com/13663221/61029913-78f4d080-a3bc-11e9-8a8e-140a6e47a5a3.jpg)

[2019-07-11 07:17] 0crat commented on #126
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.48](https://github.com/zerocracy/farm): CID: [36b63d27-7856-46bd-a90f-bf6b3d8c33cd](https://www.0crat.com/footprint/CGC59KB9B/36b63d27-7856-46bd-a90f-bf6b3d8c33cd), Type: "Job milestoned"

[2019-07-11 07:18] ammaratef45 opened #127 "Implement new pay design"
Implement the design from #120 made by @amorenew

[2019-07-11 07:18] 0crat commented on #127
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.48](https://github.com/zerocracy/farm): CID: [82155886-66d6-4d39-bbde-d6a37efb7b15](https://www.0crat.com/footprint/CGC59KB9B/82155886-66d6-4d39-bbde-d6a37efb7b15), Type: "Job milestoned"

[2019-07-11 08:08] 0pdd opened #128 "fix the font colours, weight and size."
The puzzle `125-570a9ed4` from #125 has to be resolved:

https://github.com/ammaratef45/zold-flutter-client/blob/495cc38a06684c8d5ad5725ad67a5e376dec5ff3/zold_wallet/lib/home_page/home_page_view.dart#L14-L14

The puzzle was created by Ammar Atef on 11-Jul-19.

 role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is f

[2019-07-11 08:08] 0pdd commented on #125
@ammaratef45 the puzzle [#128](https://github.com/ammaratef45/zold-flutter-client/issues/128) is still not solved.

[2019-07-11 08:08] 0crat commented on #128
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-07-11 08:10] #125 closed

[2019-07-11 08:26] 0crat commented on #128
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.48](https://github.com/zerocracy/farm): CID: [4e53f766-58e7-4535-8c61-a1e2bd544c55](https://www.0crat.com/footprint/CGC59KB9B/4e53f766-58e7-4535-8c61-a1e2bd544c55), Type: "Job milestoned"

[2019-07-11 08:57] 0crat commented on #125
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.48](https://github.com/zerocracy/farm): CID: [b46c8b9d-893c-430c-b3e4-73fb5c346363](https://www.0crat.com/footprint/CGC59KB9B/b46c8b9d-893c-430c-b3e4-73fb5c346363), Type: "Transfer shares"

[2019-07-11 09:03] 0crat commented on #125
The job [#125](https://github.com/ammaratef45/zold-flutter-client/issues/125) is now out of scope

[2019-07-11 10:27] 0crat commented on #125
Order was finished: +30 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-07-11 11:44] amreniouinnovent commented on #126
@ammaratef45 I recommend sing Listview(), IconButton() and Divider() same like what we do in the drawer

[code]

[2019-07-11 12:08] ammaratef45 commented on #126
@amorenew want to implement it? I will review the PR in less than 24 hours if you did

[2019-07-11 12:09] amreniouinnovent commented on #126
@ammaratef45 it is easy but I don't have the internet at home this month but next month I will be able to participate in the project again

[2019-07-11 13:11] #126 closed

[2019-07-11 13:33] 0crat commented on #126
Job `gh:ammaratef45/zold-flutter-client#126` is not assigned, can't get performer

[2019-07-11 13:33] 0crat commented on #126
This job is not in scope

[2019-07-12 18:35] #127 closed

[2019-07-12 18:58] 0crat commented on #127
Job `gh:ammaratef45/zold-flutter-client#127` is not assigned, can't get performer

[2019-07-12 18:58] 0crat commented on #127
This job is not in scope

[2019-07-13 10:46] ammaratef45 commented on #89
@yegor256 I get error when I try to access `/download` endpoint

	/app/wts.rb:437:in `user'
	/app/front/front_login.rb:72:in `block in <top (required)>'
	/app/vendor/bundle/ruby/2.6.0/gems/sinatra-2.0.5/lib/sinatra/base.rb:1635:in `call'
	/app/vendor/bundle/ruby/2.6.0/gems/sinatra-2.0.5/lib/sinatra/base.rb:1635:in `block in compile!'
	/app/vendor/bundle/ruby/2.6.0/gems/sinatra-2.0.5/lib/sinatra/ba

[2019-07-13 13:08] #89 closed

[2019-07-13 13:31] 0crat commented on #89
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.48.2](https://github.com/zerocracy/farm): CID: [16aad4b3-881c-46af-b347-af7d80e05243](https://www.0crat.com/footprint/CGC59KB9B/16aad4b3-881c-46af-b347-af7d80e05243), Type: "Transfer shares"

[2019-07-13 13:31] 0crat commented on #89
The job [#89](https://github.com/ammaratef45/zold-flutter-client/issues/89) is now out of scope

[2019-07-13 13:35] 0crat commented on #89
Order was finished: +30 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-07-14 07:49] amorenew opened #129 "Add Flutter web support for testing purpose"
**Is your feature request related to a problem? Please describe.**
The iPhone design is not perfect

**Describe the solution you'd like**
It would be more easy to run the project in Chrome and test the responsive design there.

[2019-07-14 07:49] 0crat commented on #129
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-07-14 08:33] 0crat commented on #128
Job [#128](https://github.com/ammaratef45/zold-flutter-client/issues/128) is now in scope, role is `DEV`

[2019-07-14 08:33] 0crat commented on #129
Job [#129](https://github.com/ammaratef45/zold-flutter-client/issues/129) is now in scope, role is `DEV`

[2019-07-14 08:40] 0crat commented on #129
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.48.2](https://github.com/zerocracy/farm): CID: [9e26dd2e-211d-4a2e-8ef6-01628bb00159](https://www.0crat.com/footprint/CGC59KB9B/9e26dd2e-211d-4a2e-8ef6-01628bb00159), Type: "Transfer shares"

[2019-07-14 08:41] 0crat commented on #129
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amorenew[/z](https://www.0crat.com/u/amorenew)

[2019-07-14 08:41] 0crat commented on #128
The job [#128](https://github.com/ammaratef45/zold-flutter-client/issues/128) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/2865a31f-5932-4d2b-9191-9f055cd7ab77); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocr

[2019-07-14 08:49] 0crat commented on #129
The job [#129](https://github.com/ammaratef45/zold-flutter-client/issues/129) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/55e8d0b0-d7dd-490f-8950-1a3dfbd38e9e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocr

[2019-07-14 09:00] ammaratef45 commented on #129
@amorenew
in the https://flutter.dev FAQ
Flutter web is currently in technical preview. We are developing Flutter for web in a fork of the Flutter repo. This enables fast iterations while keeping the core Flutter repo stable. You can repackage existing Flutter code to work on the web preview, but there are some caveats while we’re still in preview.
[Reference](https://flutter.dev/docs/resources/fa

[2019-07-14 11:10] amreniouinnovent commented on #129
@ammaratef45 we are not supporting web we just targeting web for UI testing

[2019-07-14 11:38] ammaratef45 commented on #129
@amorenew still you need to add changes for the build to be done

[2019-07-19 09:48] 0crat commented on #128
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-07-19 09:53] 0crat commented on #129
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-07-20 12:30] ammaratef45 commented on #129
@0crat wait for flutter web first stable release

[2019-07-20 12:31] ammaratef45 commented on #128
@0crat resign

[2019-07-20 13:42] 0crat commented on #128
@ammaratef45 The user @ammaratef45[/z](https://www.0crat.com/u/ammaratef45) resigned from [#128](https://github.com/ammaratef45/zold-flutter-client/issues/128), please stop working. Reason for job resignation: Order was cancelled

[2019-07-20 13:46] 0crat commented on #129
@ammaratef45 The impediment for [#129](https://github.com/ammaratef45/zold-flutter-client/issues/129) was registered successfully by @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-07-20 14:01] 0crat commented on #128
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-07-20 14:05] 0crat commented on #128
The job [#128](https://github.com/ammaratef45/zold-flutter-client/issues/128) assigned to @nermeen78[/z](https://www.0crat.com/u/nermeen78), here is [why](https://www.0crat.com/footprint/CGC59KB9B/694489c3-eb67-4fd6-bb4a-6fd9ead530ae); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2019-07-20 14:12] 0crat commented on #128
Job `gh:ammaratef45/zold-flutter-client#128` already assigned to @nermeen78, can't assign to @nermeen78

[2019-07-25 06:27] amreniouinnovent opened #130 "Iphone UI enhancement"
The application UI is not fit to iPhone devices
There should be a test for iPhone device and a better responsive support

[2019-07-25 06:27] 0crat commented on #130
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-07-25 06:27] 0crat commented on #130
@amreniouinnovent[/z](https://www.0crat.com/u/amreniouinnovent) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CGC59KB9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-07-25 06:31] 0crat commented on #130
The job [#130](https://github.com/ammaratef45/zold-flutter-client/issues/130) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/f3431850-3713-41b8-b16a-9575c6ff70e8); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocr

[2019-07-25 06:31] 0crat commented on #130
Thanks for your contribution, @amreniouinnovent[/z](https://www.0crat.com/u/amreniouinnovent)! If you would be a member of [the project](https://www.0crat.com/p/CGC59KB9B), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2019-07-25 06:31] 0crat commented on #130
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-07-25 14:42] 0crat commented on #128
@nermeen78[/z](https://www.0crat.com/u/nermeen78) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-07-28 08:14] ammaratef45 commented on #130
@amorenew We have a problem when the phone font is large on the device

I have some solutions in mind and want to know what you may like as a user
1- showing only a part of the id when there is no enough space
2- breaking the info in two lines

WDYT?

[2019-07-28 08:20] amorenew commented on #130
@ammaratef45 I think it requires R&D then we could reduce the font size by delta
or maybe we would need a plugin
https://stackoverflow.com/questions/16544931/read-font-size-from-settings
[code]

[2019-07-28 08:21] amorenew commented on #130
@ammaratef45 alternative solution using auto resize text widget
https://pub.dev/packages/auto_size_text

[2019-07-30 06:40] 0crat commented on #130
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-07-30 07:44] ammaratef45 commented on #130
@amorenew Thanks for the suggestions
most probably flexible solved the issue

[2019-07-30 09:49] #130 closed

[2019-07-30 11:53] 0crat commented on #130
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.48.8](https://github.com/zerocracy/farm): CID: [97b69fd1-7c1f-4cf7-8597-2042bf15153d](https://www.0crat.com/footprint/CGC59KB9B/97b69fd1-7c1f-4cf7-8597-2042bf15153d), Type: "Transfer shares"

[2019-07-30 11:53] 0crat commented on #130
Order was finished: +30 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-07-30 12:02] 0crat commented on #130
The job [#130](https://github.com/ammaratef45/zold-flutter-client/issues/130) is now out of scope

[2019-09-23 12:40] g4s8 opened #131 "Blank white screen on Android"
**Describe the bug**
Android app version `1.3.1` it shows me blank white screen forever on start.

**To Reproduce**
1. Install `1.3.1` version
2. Launch it with Google-play "open" button or from applications

**Expected behavior**
App shows login page

**Screenshots**

**Phone (please complete the following information):**
Device: Nexus5 with Android 6.0.1

**Additional context**
Tried to kill it

[2019-09-23 12:40] 0crat commented on #131
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please, pay attention to this issue

[2019-09-23 12:40] 0crat commented on #131
@g4s8[/z](https://www.0crat.com/u/g4s8) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CGC59KB9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-09-24 09:17] 0crat commented on #131
Job [#131](https://github.com/ammaratef45/zold-flutter-client/issues/131) is now in scope, role is `DEV`

[2019-09-24 09:28] 0crat commented on #131
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-09-24 09:30] 0crat commented on #131
The job [#131](https://github.com/ammaratef45/zold-flutter-client/issues/131) assigned to @nermeen78[/z](https://www.0crat.com/u/nermeen78), here is [why](https://www.0crat.com/footprint/CGC59KB9B/e862f216-48ce-4264-a678-0514edd454c8); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2019-09-27 18:29] 0crat commented on #131
The job [#131](https://github.com/ammaratef45/zold-flutter-client/issues/131) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CGC59KB9B/abe43e88-8799-4f69-8173-8d883def97e5); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocr

[2019-09-27 18:30] 0crat commented on #131
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-09-28 03:07] ammaratef45 opened #132 "[BUG] Publishing failed :| Failed to publish: Release is not compliant with the Play 64-bit requirement."
Google play not accepting our deploy pipeline anymore, we need to update it.

[2019-09-28 03:08] 0crat commented on #132
Job [#132](https://github.com/ammaratef45/zold-flutter-client/issues/132) is now in scope, role is `DEV`

[2019-09-28 03:08] ammaratef45 commented on #131
@g4s8
The problem is related to this issue anish-adm/trust_fall#6.

No need to check for location mocking so I've listed the trust checks myself leaving the location mocking check and It worked.

Another problem is that It's not deployable because google play isn't accepting 32-bit builds anymore.

`Publishing failed :| Failed to publish: Release is not compliant with the Play 64-bit requirement.`

[2019-09-28 03:08] #131 closed

[2019-09-28 03:13] 0crat commented on #132
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.49.14](https://github.com/zerocracy/farm): CID: [8e6beeb9-d067-4e71-a2c0-17fcc55e8680](https://www.0crat.com/footprint/CGC59KB9B/8e6beeb9-d067-4e71-a2c0-17fcc55e8680), Type: "Transfer shares"

[2019-09-28 03:15] 0crat commented on #132
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-09-28 03:26] 0crat commented on #131
Job was finished in 8 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-09-28 03:30] 0crat commented on #131
The job [#131](https://github.com/ammaratef45/zold-flutter-client/issues/131) is now out of scope

[2019-09-28 03:30] 0crat commented on #131
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.49.14](https://github.com/zerocracy/farm): CID: [6f73775e-255b-4192-944d-35e79d944a36](https://www.0crat.com/footprint/CGC59KB9B/6f73775e-255b-4192-944d-35e79d944a36), Type: "Transfer shares"

[2019-09-28 03:32] 0crat commented on #131
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-09-28 08:56] g4s8 commented on #131
@ammaratef45 thanks! BTW, we do you need location permissions? It seems unrelated to wallet functionality.

[2019-09-28 10:58] ammaratef45 commented on #131
@g4s8 I've changed it back, I was trying to stop the error without editing the `trust` checking part

[2019-10-21 10:28] g4s8 commented on #108
@0crat status

[2019-10-21 11:04] ammaratef45 opened #134 "Enhance google play presence"
Google play should have a better description, privacy policy and screenshots

[2019-10-21 15:28] 0crat commented on #108
@g4s8 This is what I know about this job in [CGC59KB9B](https://www.0crat.com/p/CGC59KB9B), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#108](https://github.com/ammaratef45/zold-flutter-client/issues/108) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/CGC59KB9B?q=%7Bjob%3A%27gh%3Aammaratef45%2Fzold-flutter-client%23108%27%2Ctype%3A%7B%24not%3A%2F%5ENoti

[2020-04-02 15:14] ammaratef45 commented on #129
@0crat refuse

[2020-04-02 15:16] 0crat commented on #129
@ammaratef45 The user @ammaratef45[/z](https://www.0crat.com/u/ammaratef45) resigned from [#129](https://github.com/ammaratef45/zold-flutter-client/issues/129), please stop working. Reason for job resignation: Order was cancelled

[2020-04-02 15:51] 0crat commented on #129
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#129](https://github.com/ammaratef45/zold-flutter-client/issues/129); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the j

[2020-04-07 16:43] 0crat commented on #129
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) everybody who has role `DEV` is banned at [#129](https://github.com/ammaratef45/zold-flutter-client/issues/129); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the j

[2020-04-07 18:14] amreniouinnovent commented on #129
Flutter web is not mature yet
It requires 6 months to be ok
I will close this issue until the Flutter web became more mature.
@ammaratef45 Could you close it I don't have the permission

[2020-04-08 21:57] ammaratef45 commented on #129
@amreniouinnovent thanks

[2020-04-08 21:57] #129 closed

[2020-04-08 22:18] 0crat commented on #129
Job `gh:ammaratef45/zold-flutter-client#129` is not assigned, can't get performer